[2018-04-06 13:47] ypriverol opened #1 "Export to mzML"
Hi @nielshulstaert should we explore the possibility to export to mzML.? I can try to work with you on that.

[2018-04-27 21:03] ypriverol opened #3 "I have try some examples and they don't work"
I have tried some examples and they don't work. Here one of them https://www.ebi.ac.uk/pride/data/archive/2018/04/PXD009286/OTV_1801_007.raw

[2018-05-03 15:29] nielshulstaert commented on #3
Hi Yasset,
This happened because the scan centroid streams are empty. Now it takes the segmented scan peaks instead in that case. I tried that RAW file with MSConvert and the results are the same now.

Best regards,

Niels

[2018-05-03 15:29] #3 closed

[2018-05-23 11:46] antortjim opened #4 "Running from Docker"
Hi there

My name is Antonio and I am studying Bioinformatics at University of Copenhagen.

I was directed to this tool by @Maux82 in https://github.com/compomics/moFF/issues/26. I am trying to use ThermoRawFileParser through the Docker image and I am encountering some path issues when mapping the Docker volumes to files in my local filesystem.

I built the image using the command in your README.m

[2018-05-23 12:52] nielshulstaert commented on #4
Hi Antonio,

Thanks for trying out the library, it's still in development so any suggestions/improvements are more than welcome! I'm adding mzML export functionality for the moment.

I've tested the RAW file and it works on my computer. If the output directory exists in $DATA_INPUT, it should be mapped inside the container. I ran the following command (as root user)
`sudo docker run -v /home/niels

[2018-05-23 22:54] antortjim commented on #4
Hi Niels,

Thanks for your fast answer. I am very happy to see someone addressing the need to get the raw->mgf/mzml in Linux working!

I tried creating a directory `output` inside `$DATA_INPUT`  and running Docker with sudo, but still no luck getting it to work. I think it's due to some permission issues between Docker and my host. I can see that if I pass the `-m` flag:

`2018-05-23 22:46:36,915

[2018-05-30 13:48] antortjim commented on #4
Hi @chrishuges
Thanks for your answer! I am sorry I got back to you this late.

I still haven't been able to get it to work with Docker. It would be great if @nielshulstaert  could share a more comprehensive MWE. Could these weird errors be due to my filesystem being NFS mounted?

Moreover, I just got to install the singularity shell, but your link is broken. I tried this instead
https://github.co

[2018-05-30 13:57] antortjim commented on #4
I just tried setting DATA_INPUT to a folder under `/tmp`, so it's not under the NFS system, and now I get the following error:

[code]

[2018-05-30 14:05] chrishuges commented on #4
Hi Antonio,

I meant to use singularity as an alternative to docker, but based on your latest error it seems that this is not your issue. Sorry I couldn't be of more help here.

Yes for the error with our tool please open an issue on our repository with details of the problem. The link was broken because we just pushed that branch to master yesterday actually!

Chris

[2018-05-31 08:09] antortjim commented on #4
Hi Niels

No worries! I tried building  the image with the Dockerfile you wrote in the comment above and running the command. I got it to work!!
**But it works only if the directory where the RAW file "lives" is not nfs (network filesystem) mounted**. My home directory is nfs mounted, so I just placed the RAW in the /tmp folder.

Also, the output directory needs to exist, i.e there needs to be a `

[2018-05-31 08:09] #4 closed

[2018-06-02 09:18] antortjim opened #5 "Reducing mgf file size"
Hi Niels

I was wondering why are the output mgf files so big compared to the raw files. If I convert the raw file from #4 , which is 2.8GB big, I get an mgf output file with 13GB. I have checked that most of the rows correspond to peaks with intensity equal to 0.0000000000, and removing them with grep
`grep -v 0.0000000000 PD7505-GDTHP1-A_C2.mgf > PD7505-GDTHP1-A_C2_non_zero.mgf`
 leaves a 3.2 GB

[2018-06-04 14:18] nielshulstaert commented on #5
Hi Antonio,

Could you provide the link to the specified RAW file? The one from the previous issue seems a lot smaller. I'm comparing my output to msconvert and indeed I'll have to add some argument options.

Right now I only consider MS2 scans:
- if the scan has a centroid stream, take those values
- if the scan has no centroid stream, take the segmented scan (low res and profile scan data was me

[2018-06-04 15:39] antortjim commented on #5
Hi Niels

Thanks for your answer. I am so sorry I directed to the file from #4 when they are not actually the same. I got confused.

What is a centroid stream?
If I repeat my postprocessing with the file from #4 I get a 105MB file with MSconvert using the filters above and 104MB with ThermoRawFileParser. They are thus really close in file size. They both have 13352 spectra (i.e grep finds BEGIN IO

[2018-06-04 16:11] nielshulstaert commented on #5
Hi Antonio,

I'm not an expert in thermo RAW files. This is an expert from the Thermo library documentation:

The scans type code (scan event) indicates which of these formats is used.
Profiles represent a set of raw samples from the instrument, with no analysis. These are generally shown as a continuous line of a plot.
Centroids are internally greeted by running a "center of mass" algorithm on th

[2018-06-04 20:04] chrishuges commented on #5
I might be able to help a bit here. The file from the example you are trying to process ([#4](https://github.com/compomics/ThermoRawFileParser/issues/4)) an LTQ Orbitrap file. There are 13352 MS2 scans in the file that were acquired in the ion trap (LTQ) in centroid mode. If I process it with RawQuant I get an 87MB file with none of the zero intensity values you mention.

In regards to the profile

[2018-06-06 09:19] nielshulstaert commented on #5
Hi Antonio, Chris,

Thanks again for your input, it's very useful to me. Indeed the library doesn't do any centroiding on profile data, only the centroiding done by the instrument and provided by the Thermo library. I'm playing around with msconvert to see if their peak picking makes a difference in the file size. It's not my intention to remake msconvert though ;)

I've encountered 3 types of RAW

[2018-06-11 08:35] antortjim commented on #5
Hi Niels and Chris

Thank you for taking the time to look into this. Very appreciated!
I find really frustrating that dealing with RAW files is so difficult in Linux. Taking them to an open format, may it be MGF or mzML, is a big bottleneck.

I think a flag for filtering peaks lower than x percent of the highest peak in the scan would be a nice feature. But I think including MS2 data is essential

[2018-06-13 00:03] chrishuges commented on #5
Hi Antonio,

I agree it is an important issue to get these types of tools working on Linux, but I think there is some confusion here. Both ThermoRawFileParser and [RawQuant](https://github.com/kevinkovalchik/RawQuant) do various processing tasks and MGF conversion of raw files on Windows/Mac/Linux without issue. The problem being encountered with both our tool and ThermoRawFileParser is that your

[2018-06-13 06:31] antortjim commented on #5
Hi Chris

Thanks for your comment!
Then if I got it right, the way to go in Linux would be to use ThermoRawFileParser / RawQuant to get an mgf file in Linux, and then use the peakPicking algorithm from msconvert using as input the mgf file. This would skip the impossibility of processing RAW files in Linux while still performing centroiding. Am I correct?
This would be the command line for perform

[2018-06-13 13:58] chrishuges commented on #5
Hi Antonio,

It depends what your analysis goal is. I honestly cannot speak to how well converting to an MGF and then processing that MGF with a different program will work. Also, I believe ThermoRawFileParser (and RawQuant) will only insert MS2 spectra into an MGF file as these are typically only used for database searching. I am not sure if msconvert is going to be able to decipher the 'order' i

[2018-06-13 15:11] antortjim commented on #5
Hi Chris

Thanks for your answer. You are probably right, it might be too messy to do all this program patching just for the sake of doing it in Linux. It's just not possible yet in a clearly systematic and defined way. But hopefully it will come soon :smile:

Thanks for all your help Chris and Niels!

Best regards,
Antonio

[2018-06-13 15:11] #5 closed

[2018-07-19 15:07] nielshulstaert commented on #1
Hi @ypriverol,

I've committed a first working version of the mzML export. I didn't include indexing for now. I also added a flag for gzipping the export file.

Best regards,

Niels

[2018-07-19 16:17] ypriverol commented on #1
I will test it and close the issue when is ready if you agree.

[2018-07-20 15:11] ypriverol commented on #1
I have converted one file from PRIDE and Ihave found and error with the mzspec scan:

[2018-07-20 16:40] ypriverol commented on #1
I have fixed it the id problem. We still have a small issue in the last <binaryDataArrayList> the count is not written. This probably is a bug of the mzLib.

  <binaryDataArrayList>
          <binaryDataArray encodedLength="60896">
            <cvParam cvRef="MS" accession="MS:1000595" value="" name="time array" unitAccession="UO:0000031" unitName="minute" unitCvRef="UO" />
            <cvParam cv

[2018-07-30 13:03] #1 closed

[2018-08-10 23:10] im281 opened #10 "MzML conversion error"
The UNC path should be of the form \\server\share.

ConfigureWriter(".mzML");

[2018-08-10 23:13] im281 commented on #10
never mind. I forgot -o

[2018-08-10 23:13] #10 closed

[2018-08-11 16:05] im281 opened #12 "Parquet Format"
Needs to be refactored as output file is always in bin directory. Also, some Visual studio files got accidentally copied to master and those should be removed

[2018-08-16 20:30] armadillocommander opened #13 "Cannot parse raw file under both Windows 10 or Linux"
The error message on Linux:

2018-08-16 13:27:05,156 INFO ThermoRawFileParser.CentroidedMgfExtractor - Started parsing /home/yiming/ThermoRawFileParser/QC.raw
2018-08-16 13:27:05,196 ERROR ThermoRawFileParser.CentroidedMgfExtractor - Error opening (ThermoFisher.CommonCore.RawFileReader.Facade.RawFileLoader) - /home/yiming/ThermoRawFileParser/QC.raw

The error message on Windows 10:
2018-08-16 13:2

[2018-08-17 09:47] nielshulstaert commented on #13
Hi,

The underlying Thermo library only works on 64 bit systems. Could this be your problem?

Best regards,

Niels

[2018-08-29 22:20] ypriverol commented on #12
@im281 can you work on this.? Also is important to be sure that some tests are provided.

[2018-09-07 13:14] bgruening opened #15 "license missing"
Hi!

Thanks for this great project. It would be nice if you could integrate a LICENSE file.

Thanks!!!

[2018-09-07 13:18] ypriverol commented on #15
I will do it.

[2018-09-17 15:43] prvst opened #16 "missing mzML format"
The binary available to download doesn't haver an option to export to mzML. Is the option still available ? if so, can there be a more updated release ?

Thanks

[2018-09-17 16:30] bgruening commented on #16
@prvst you can use https://bioconda.github.io/recipes/thermorawfileparser/README.html if you like

[2018-09-17 16:31] ypriverol commented on #16
He is interested to use the binary

On Mon, Sep 17, 2018 at 5:30 PM Björn Grüning <notifications@github.com>
wrote:

--
Yasset Perez-Riverol PhD.
Bioinformatician
Proteomics Services Team, PRIDE Group
European Bioinformatics Institute (EMBL-EBI)
Wellcome Trust Genome Campus, Hinxton
Cambridge CB10 1SD, UK
Twitter: @ypriverol

[2018-09-17 16:36] ypriverol commented on #16
A new binary has been a load to releases https://github.com/compomics/ThermoRawFileParser/releases/tag/v1.0.1

[2018-09-17 16:36] #16 closed

[2018-09-17 16:39] prvst commented on #16
Thanks

On Mon, Sep 17, 2018 at 12:36 PM Yasset Perez-Riverol <
notifications@github.com> wrote:

--
Felipe da Veiga Leprevost, Ph.D.
www.leprevost.com.br
Proteome Bioinformatics Lab
University of Michigan

[2018-09-17 16:41] ypriverol commented on #15
license added.

[2018-09-17 16:41] #15 closed

[2018-09-17 17:20] bgruening commented on #16
@ypriverol thanks for the hint! The conda package contains the binary.

[2018-09-21 07:46] nielshulstaert opened #18 "mzML memory footprint"
The mzML writer keeps all nodes in memory before writing to XML. This causes a big memory footprint for large RAW files. Look at a better way for writing (maybe https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/linq/how-to-perform-streaming-transform-of-large-xml-documents).

[2018-09-21 08:22] ypriverol opened #19 "Parquet needs some standarization"
We need to do some standardization for the Parquet format that enables other people to understand the file format.

[2018-09-29 22:37] foellmelanie opened #20 "mzML file works with search engines but not with quantitation tools"
Hi,
I was running the thermo converter on usegalaxy.eu on several raw files to convert them to mzML files. The mzML files were compatible with search engines but not with moFF version 1.2.1 (error: could not find obo files). Featurefindermultiplex did not throw any error but did not quantify any feature either. The mzML files obtained with msconverter give results with moff and featurefindermultip

[2018-10-01 12:35] ypriverol commented on #20
I have been testing the file and the number of MS1 is 8249. Can you provide me the mzML that you are getting with Galaxy.

[2018-10-01 13:07] foellmelanie commented on #20
Hi @ypriverol,

thanks a lot for checking the file! This is the mzML output from Galaxy:
https://galaxy.uni-freiburg.de/datasets/7ed056308214d5ba/display?to_ext=mzml

[2018-10-01 13:33] nielshulstaert commented on #20
Hi Melanie,

I think it has to do with the controlled vocabulary entries in the cvList element; pymlML has problems with the owl format. I've changed the URLs to the obo format like msconverter is doing, I still need to test it with moff. I'm adding zlib compression for the binary data as well in the mean while, I'll let you know when the testing is done.

Best regards,

Niels

[2018-10-01 14:33] ypriverol commented on #20
I'm testing with OpenMS and looks like the error is related with profile/centroid of MS1. The current tool export the profile MS1 and the OpenMS expect everything in Centroid.

[2018-10-02 15:19] nielshulstaert commented on #20
Hi Melanie,

I've pushed a new version that should fix the obo error in pymzML. Could you test it let me know?

Best regards,

Niels

[2018-10-02 15:41] ypriverol commented on #20
@nielshulstaert This will not Solve the error that @foellmelanie reported. @foellmelanie is using moff and OpenMS. The problem that they have is with profile data. We should test some Quant in our side before testing by @foellmelanie .

[2018-11-06 13:30] nielshulstaert commented on #13
Hi,

I encountered the same issue under Windows 10, it seems that I have to use the x64 build option explicitly (no problems when running on linux). The latest release (1.0.4) should work on Windows now, could you give it a try?

My apologies for reopening this, I drew the wrong conclusion from your stacktrace, I'm pretty new to .NET.

Best regards,

Niels

[2018-11-21 10:51] #13 closed

[2018-12-04 03:34] azzamallow opened #23 "Convert using a configurable number of cores"
When I run ThermoRawFileParser I notice it uses 2 cores (I think) while doing the conversion. I have a large machine that has many cores, and id like to use a configurable number of cores for the conversion.

To make use of all the cores on my machine I have written a script which executes many ThermoRawFileParser processes in parallel, so I have a solution to my problem. However, specifying the n

[2018-12-07 13:35] nielshulstaert commented on #23
Hi,

Thanks for your input. Do you mean providing a list of RAW files as an argument to the parser or processing a single RAW file in a multi-threaded way?

I know the Thermo library API has some multi-threaded methods but I didn't get around to using it in my code.

Best regards,

Niels

[2018-12-07 13:44] ypriverol commented on #23
@nielshulstaert In this respect. We have done some performance comparisons with the previous proteowizard conversion and the previous Thermo Windows API was 6 times faster than our library. I will make this data available soon.

[2018-12-13 02:13] azzamallow commented on #23
Sorry for the late response, I mean **processing a single RAW file in a multi-threaded way**.

Cheers.

Aaron

[2019-01-24 03:11] yafeng opened #24 "activation mode information lost after convert"
Hi,
I used ThermoRawFileParser to convert raw files to mzML. The output works fine with search engine.
However, when i use [IsobaricAnalyzer](http://ftp.mi.fu-berlin.de/pub/OpenMS/release-documentation/html/TOPP_IsobaricAnalyzer.html), with `-extraction`  filter by HCD or CID, it says no spectra passed filtering and give empty result. However, if i disable the filtering, it produces results.
Is it

[2019-02-13 14:50] subinamehta opened #25 "Could we add centroid mode (MS1 level peak picking) to Thermo tool?"
Hello, I am trying to convert raw files to mzml/mgf, but realized that this tool only works for profile mode, Is it possible to add centroid mode (helps with quantitation @MS1 level)?

[2019-02-14 13:43] nielshulstaert commented on #25
Hi,

If centroided data is available for a given scan, it is reported by the parser. Sometimes a scan is recorded in profile mode but also has centroided data, in that case the centroided data is reported.

I'll release a new version soon that also reports the precursor intensity when the MS1 centroided data is available (see an mzML entry example below).

`
<cvParam cvRef="MS" accession="MS:10000

[2019-02-14 15:05] subinamehta commented on #25
Hello Niels,

I think the raw files will have the MS1 data, I have used MSconvert (vendor support) and for that we have to specifically choose peak picking MS1. Hopefully the new version will report the precursor intensity.

Thanks!

Subina

[2019-03-08 09:59] JasonYCHuang opened #26 "ElectronImpact error when convert RAW to mzML"
Thanks for open-source this software.

I am using this to convert RAW to mzML, but there is an error regarding 'ElectronImpact' key missing.
Here is the error message, and a file is attached.

[example.raw.zip](https://github.com/compomics/ThermoRawFileParser/files/2945291/example.raw.zip)

[code]

I also encounter the same problem when using __msconvert__, but it has an option to bypass this.

ht

[2019-03-13 11:48] ypriverol opened #27 "Logging possibility"
@nielshulstaert we need to add more logging facilities to the tool. I'm using the tool from a container and sometimes the mono just breaks without error and kill my process. Would be great if we have some logging facilities that can be enabled to trace errors.

Regards
Yasset

[2019-03-14 15:29] ypriverol commented on #27
A new PR has been created to solve this issue. https://github.com/compomics/ThermoRawFileParser/pull/28

[2019-03-14 15:55] ypriverol commented on #26
Bug fixed in PR https://github.com/compomics/ThermoRawFileParser/pull/28

[2019-03-18 22:04] ypriverol commented on #27
Done

[2019-03-18 22:04] #27 closed

[2019-03-18 22:05] ypriverol commented on #26
Please try again. Bug fixed.

[2019-03-18 22:05] #26 closed

[2019-03-20 16:00] ypriverol commented on #12
@im281 are you able to work in this ?

[2019-03-22 17:03] subinamehta commented on #25
Hello Niels,

There is another issue that I see with the Thermo tool, it creates a weird Title for the raw files.
Title comparison:
**With msconvert (vender support)=**

BEGIN IONS
--
TITLE=jrudney_chenx096_20150307_14688_734NS_1D.2.2.2
RTINSECONDS=0.8171
PEPMASS=434.224365234375 270869.09375
CHARGE=2+

**Thermo:**

BEGIN IONS
--
TITLE=mzspec=input.raw: controllerType=0 controllerNumber=1 scan=2
S

[2019-03-22 17:11] ypriverol commented on #25
@subinamehta This is not actually a "weird" TITLE is a valid mzML wait of a given title to each Spectrum. Suggestions are more than welcome. In this case, also the TITLE can be used as an identifier if you check the msconvert is using the same file name for every TITLE.

[2019-03-22 17:18] subinamehta commented on #25
I am just worried that when I run SearchGUI Peptide Shaker on thermo's ".mgf" file and then the Spectrum File name is not going to be similar to the ".raw" file, which might be an issue with our quantitation tools.

[2019-03-23 12:24] nielshulstaert commented on #24
Hi,

My apologies for the late reply. I've converted one of the raw files and it seems there is an activation element with a random MS2 spectrum I've checked.

 <activation>
              <cvParam cvRef="MS" accession="MS:1000045" value="40" name="collision energy" unitAccession="UO:0000266" unitName="electronvolt" unitCvRef="UO" />
              <cvParam cvRef="MS" accession="MS:1002481" value=""

[2019-03-23 16:36] nielshulstaert commented on #25
@ypriverol should we get rid of the mzspec format title as is it not really intended to be used like this and have the classic TITLE=controllerType=0 controllerNumber=1 scan=339?

[2019-03-23 18:12] ypriverol commented on #25
Yes. Do you want me to do the changes?

[2019-03-23 21:28] nielshulstaert commented on #25
I've finished the indexed mzML, together with writing the mzML as a stream (instead of keeping the model in memory). I'll include in that version and we can release it next week.

[2019-03-23 21:37] ypriverol commented on #25
Cool, if you want you can do a PR and I will review it

[2019-03-23 23:22] ypriverol commented on #20
I have tested the tool with OPenMS and it works fine !!!

[2019-03-23 23:22] #20 closed

[2019-03-25 08:40] nielshulstaert commented on #18
this will be fixed in the upcoming release

[2019-03-25 08:40] #18 closed

[2019-04-08 20:40] yafeng commented on #24
Hi,
True, it has the activation element.
I checked IsobarizAnalyzer, the `--select_activation` filtering tag filter by `High-energy collision-induced dissociation`, however the actual name in mzML is `name="higher energy beam-type collision-induced dissociation"`, maybe this is the problem? is the character `beam-type` added later or is it in .RAW file?

[2019-04-19 13:21] nielshulstaert commented on #24
Hi,

I've mapped the HigherEnergyCollisionalDissociation thermo propery to this controlled vocabulary term `MS:1002481` (https://www.ebi.ac.uk/ols/ontologies/ms/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMS_1002481). When I convert a RAW of PXD002622 with msconvert, I've noticed they use `MS:1000422` (https://www.ebi.ac.uk/ols/ontologies/ms/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%

[2019-04-23 14:03] yafeng commented on #24
Ok, maybe it's just a different name used in isobaricAnalyzer.
I also made some tests, there are some inconsistencies between `ThermalRawFileParser` and `msconvert`.  the impact is usually on the downstream software, such as peptide identification algorithm and isobaricAnalyzer.  For example, MSGF+ search engine can read fragmentation method as written in the `msconvert` parsed mzML file, but seem

[2019-04-23 14:22] yafeng commented on #24
Here pasted is a print information from MSGF+ reading `ThermalRawFileParser` converted mzML file.
The raw contains both CID and HCD spectra, it seems activationMethod CID can be recognized, but activationMethod for HCD spectra is not recognized, I think this is because different term `MS:1002481` was used in `ThermalRawFileParser`.  One thing I can test is to replace `MS:1002481` by `MS:1000422`,

[2019-04-23 14:36] yafeng commented on #24
I did the test, replacing `MS:1002481` used in `ThermalRawFileParser` to `MS:1000422`. MSGF+ can recognize both CID and HCD activationMethod now.  So, maybe it is correct to use the parent term `MS:1000422` instead.

[2019-04-23 15:13] yafeng commented on #24
I also test it with `IsobaricAnalyzer`.  Replacing MS:1002481 to MS:1000422 also makes HCD spectra can be correctly recognized by `-extraction:select_activation` in `IsobaricAnalyzer`.

[2019-04-24 14:42] ypriverol commented on #24
@nielshulstaert can we replace the CVTerm that we are using currently for the one proposed by @yafeng ?

[2019-04-25 10:24] nielshulstaert commented on #24
Hi @yafeng ,

I've released a new version 1.1.2, could you verify that it works?

Thanks again for your input,

Niels

[2019-04-25 20:35] yafeng commented on #24
@nielshulstaert Yes, I tested. Thank you!

[2019-04-25 22:46] yafeng opened #31 "Performance Evaluation"
Hi, I looked into a bit more about different raw file readers. I came across one [paper](https://www.ncbi.nlm.nih.gov/pubmed/26499134) published in Anal. Chem. 2015.
**Extracting Accurate Precursor Information for Tandem Mass Spectra by RawConverter.**

There they have compared their tool RawConverter with ProteoWizard, and it seems RawConverter does better job than ProteoWizard.

I am wondering i

[2019-04-26 07:11] ypriverol commented on #31
Here, we have the comparison https://github.com/ypriverol/ThermoRawParser-paper between both tools.

[2019-04-26 08:58] nielshulstaert commented on #24
Ok great, thanks for testing the library and let us know if you run into other issues.

[2019-04-26 08:58] #24 closed

[2019-04-26 20:53] yafeng commented on #31
@ypriverol thanks!  I see there are many plots, but it is kind of difficult to interpret without additional information. are you planing to submit the paper? I can wait until the paper is online.

[2019-05-01 01:23] rmflight opened #34 "mzML profile mode?"
From what I can tell, this tool only outputs centroided data, even when the data is acquired in profile mode.

It would be nice to have the option to output either centroided or profile data when samples are acquired in profile mode. Very useful for some metabolomics applications.

[2019-05-01 13:58] yafeng opened #35 "precursor mass for the MS3 spectra are missing"
Hi,
I encountered this problem when using ThermoRawFileParser to convert MS RAW file containing MS3 quantification. Example raw files can be downloaded from
http://proteomecentral.proteomexchange.org/cgi/GetDataset?ID=PXD005953

It results an error later in IsobaricAnalyzer which tries to find precursor mass for MS3 spectra.
ProteoWizard converted mzML files contain precursor mass for MS3 spectra.

[2019-05-01 14:35] ypriverol commented on #35
@nielshulstaert I will take care of this issue.

[2019-05-01 14:50] ypriverol commented on #31
Here the link of the paper @yafeng https://www.biorxiv.org/content/10.1101/622852v1

[2019-05-01 15:48] yafeng commented on #31
@ypriverol Thanks! I will spread the news on social media.

[2019-05-01 15:52] #31 closed

[2019-05-01 15:58] yafeng commented on #35
@ypriverol Thanks for the quick response! I can't run docker here.
You can test it by
[code]
If it runs without error, it should be OK.

[2019-05-01 16:00] prvst opened #36 "Consider changing the project name"
I suggest to the team to consider changing the name of this project. Companies often relies on aggressive legal terms prohibiting third-party and/or external personal to use their brand names on unrelated products. Moby (a.k.a. Docker) did a very similar thing some time ago demanding that people stop creating new software / products by adding the word Docker to them, this was one of the reasons we

[2019-05-01 16:23] ypriverol commented on #36
@prvst so far with Thermo @lnnrt team never had an issue. See here another previous parser https://www.ncbi.nlm.nih.gov/pubmed/21714566

[2019-05-01 16:24] ypriverol commented on #35
Ok I will do it!! Any of the files of that project are fine for the test

[2019-05-01 16:26] prvst commented on #36
Yes, and the same thing can be said about the ThermoFinigan converter, but
that doesn't mean that the company will not start enforcing their trademark
tomorrow. The word Thermo is trademarked, you will always be at risk to
have it changed.

On Wed, May 1, 2019, 12:23 PM Yasset Perez-Riverol <notifications@github.com>
wrote:

[2019-05-01 17:03] yafeng commented on #35
Yes, you can choose any file from the project to test.

[2019-05-01 20:35] ypriverol commented on #35
I have fixed the error @yafeng . We will wait for @nielshulstaert to review the PR #37

[2019-05-01 20:56] #36 closed

[2019-05-02 06:47] ypriverol commented on #25
@this issue has been solved.

[2019-05-02 06:47] #25 closed

[2019-05-02 07:44] nielshulstaert commented on #35
Hi @ypriverol and @yafeng I'm looking into this. I want to make sure that the MS3 precursor element is populated correctly.

[2019-05-02 09:45] nielshulstaert commented on #34
Hi,

Thanks for your input. I decided to output the centroided data when available after a mail conversation with a very helpful expert at thermo. It's important to note that not all profile scans have centroided data available and we don't do any post-processing besides the native thermo library. That's also why we have the "MGF with profile data excluded" option.

I agree that the user should be

[2019-05-02 13:04] rmflight commented on #34
I think it's great if the default is to output the Thermo peak centroided data. However, that should be documented, and having a flag to get the profile data instead would be fine.

[2019-05-02 18:00] RonBeavis opened #38 "MS2 precursor ion mass comparison with msconvert"
I have been analyzing data from RAW file converted using TRFP and msconvert. The results are similar, except that the TRFP results show that the parent ion mass for a spectrum is more likely to be the A1 peak than I would expect. For the same RAW file, the ratio of A0:A1 identified is

TRFP A0:A1 = 6697:2000
msconvert A0:A1 =  8650:328

The specific RAW file in this example is

20180827V_JDF_CHDI_

[2019-05-03 12:48] ypriverol commented on #38
Hi @RonBeavis

What is the notation A0:A1 ? What is A0 and A1?

[2019-05-03 14:11] RonBeavis commented on #38
It is the standard notation for identifying the 13C isotope peaks associated with the MS of organic molecules. The A0 peak is all 12C, A1 has one 13C, A2 had two 13C, etc.

[2019-05-06 13:39] mobiusklein opened #39 "Unsafe Dependency Loading on Windows"
Platform: Windows 10
.NET Version: 4.7.2

I'm unable to run the program either built from source or from the released executable.
Stack Trace (line wraps added for clarity):
[code]
Based upon this stack trace, it looks like there is an unresolved dependency for the `RawFileReader.dll`, since it is present in the same directory as the executable in the release.

A possible solution is to add an XML

[2019-05-06 14:31] caetera commented on #39
Hi Josua,
this is a Windows related issue and not specific to ThermoRawFileParser. I have the same error with other .NET assemblies. Windows keeps a special "mark" on all files that are downloaded from the network, considering them as potentially unsafe. One can unblock them as described here: https://blogs.msdn.microsoft.com/delay/p/unblockingdownloadedfile/, or as you suggested change the config

[2019-05-06 14:59] RonBeavis commented on #38
Do you need further clarification of what I meant in the original post?

[2019-05-06 17:26] mobiusklein commented on #39
Okay, the MSDN article that the error message points to is not helpful for resolving the problem for the end user then. Could this manual step be documented then?

Alternatively, I thought the RawFileReader library was composed of four DLLs. Are the other two DLLs being loaded from the web, and if so, could they be included in the bundle of static assets to simplify use?

[2019-05-06 19:53] ypriverol commented on #39
@mobiusklein @caetera should we add a FAQ section to the readme explaining these issues?

[2019-05-07 13:22] mobiusklein commented on #39
That would reduce the number of confused issue reports, but I'd rather know what 3rd party resources I'm resolving at run time rather than at build/installation time. Is it actually functional code that is being fetched, or is this a method for letting Thermo log every time the DLL is loaded?

When I wrote redistributable bindings against RawFileReader, I had to bundle four DLLs downloaded from th

[2019-05-07 14:19] ypriverol commented on #39
@caetera you add a PR where you add the issue to into a FAQ section and how to solve it?

[2019-05-07 14:53] mobiusklein commented on #39
@caetera Thank you. That explanation clarified the problem. The error message is still coloring how I read your description, but this is the first time I've had this problem with downloaded .NET code.

Is it more preferable to force the users to take an action rather than fix the problem at build time still? I've tested the configuration change on Windows, but I don't have a *nix system with Mono

[2019-05-07 16:01] ypriverol commented on #39
@caetera Can this be fixed in our side with this solution:

[code]

[2019-05-07 16:57] caetera commented on #39
@ypriverol Yes. You will need to create an Application Configuration Template in Visual Studio project and add the code into it. Then the configuration will be created during build.
Alternatively, here is oneliner that unblocks all files after unpacking
`for /f "usebackq delims=|" %%f in (`dir /b`) do echo "" > %%f:Zone.Identifier`
(pretty ugly though)
Can make PR from any of this, if you prefer.

[2019-05-07 18:29] ypriverol commented on #39
@caetera looks like the config solution is more appropriate. Do a PR and I will merge it and test with mono, and you can test it in your windows.

[2019-05-07 20:25] caetera commented on #39
PR done.

[2019-05-08 08:04] nielshulstaert commented on #38
Hi @RonBeavis thanks for taking your time to test our parser. I report the precursor mass provided by the native thermo library. In mzML we also report the _[Thermo Trailer Extra]Monoisotopic M/Z:_ as a user param. Is it better to report the monoisotopic mass as precursor mass when available?

[2019-05-08 15:26] mobiusklein commented on #38
It's worth noting that msconvert includes additional heuristic checks to account for historical problems with Thermo's firmware: https://github.com/ProteoWizard/pwiz/blob/master/pwiz/data/vendor_readers/Thermo/SpectrumList_Thermo.cpp#L478-L632. This information is *usually* consistent with the value in the scan trailer, though not always. The m/z reported here may reside outside the isolation wind

[2019-05-08 16:33] nielshulstaert commented on #38
Ok I'll do some testing and comparisons and get back to you. This is very useful feedback, thanks!

[2019-05-09 08:37] ypriverol commented on #39
@caetera Quick question here about the PR: https://github.com/compomics/ThermoRawFileParser/pull/40#discussion_r281827371

[2019-05-09 09:01] timosachsenberg opened #41 "Dummy file produced in case of error"
Hi,
After conversion of:  https://github.com/HegemanLab/small-thermo-raw-file-examples/blob/master/ginkgotoxin-ms-switching.raw to idexed mzML
I get an:
IndexedMzMLDecoder::domParseIndexedEnd Error: expected only 'spectrum' or 'chromatogram' below indexList but found instead 'dummy' when reading in OpenMS.

[2019-05-09 09:11] timosachsenberg commented on #41
ok this is probably related to an error on my side (specified an output file instead of the output directory).
Should not generate an empty file though...

[2019-05-09 09:15] ypriverol commented on #41
What do you think is better for you, to have an option that you can specify an output file name. ?

[2019-05-09 09:18] timosachsenberg commented on #41
Yes, this would be better for us. I will work around that for now

[2019-05-09 09:54] #41 closed

[2019-05-09 09:59] ypriverol opened #42 "We should have an option for one file output"
@Timo has suggested in the following issue https://github.com/compomics/ThermoRawFileParser/issues/41#event-2329730097 that would be great to have `-input_file`  and `output_file` design for tools that needs one input, one output instead of the folder approach.

[2019-05-10 12:41] rmflight opened #43 "new release?"
Or if there was a way to set up CI for this repo, then there could be a release for each pull request merged into master.

Or if there was more instructions on how to compile the project on Windows / Linux (I personally have no experience compiling .net on either platform).

Sorry, I'm just really anxious to compare the output of the profile mode to what I get from MSConvert, b/c I'd be really hap

[2019-05-10 12:46] ypriverol commented on #43
@rmflight We will implement a CI and do as soon as possible a release. We are now fixing multiple issues.

Another thing, when you finish the benchmark can you make then available if is possible. ?

[2019-05-10 12:54] rmflight commented on #43
Sure, I can definitely make any benchmarking analysis I do available.

[2019-05-13 18:22] timosachsenberg opened #45 "Problems with locale"
http://cdash.openms.de/testDetails.php?test=56856527&build=312104
On windows a number 123.456 gets converted to 123456. potentially a problem with locale.
The ! Indicates the mismatch between test file an reference created on linux

[2019-05-13 18:23] timosachsenberg commented on #45
Offending lines:			(tab_width = 8, first_column = 1)

in1:  C:\jenkins\ws\openms_pr_ci\979a8a2f\build\src\tests\topp\ginkgotoxin-ms-switching_out_tmp.mzML   (line: 72, position/column: 64/65)
              <cvParam cvRef="MS" accession="MS:1000927" value="!
                                                                170945" name="ion injection time" unitAccession="UO:0000028" unitName="millise

[2019-05-13 19:00] ypriverol commented on #45
@timosachsenberg can you provide the file example for testing?

[2019-05-13 20:29] timosachsenberg commented on #45
HI. https://github.com/OpenMS/OpenMS/blob/a02db7a7e2b6b8dd18fdd2c0a52907fc36ded02c/src/tests/topp/THIRDPARTY/ginkgotoxin-ms-switching.raw
@jpfeuffer do you know if we run german windows on the test machine?

[2019-05-14 07:00] timosachsenberg commented on #42
Yes, this would be great for workflow based approaches. The latter guarantees that exactly one file is generated.

[2019-05-14 09:09] timosachsenberg opened #46 ".Net file open error"
On travis (ubuntu 18.04 base image) we get an mono error message:

Executing: mono
FATAL: External invocation of mono failed. Standard output and error were:
2019-05-14 07:20:56,780 INFO ThermoRawFileParser.RawFileParser - Started parsing /home/travis/build/OpenMS/OpenMS/src/tests/topp/THIRDPARTY/ginkgotoxin-ms-switching.raw
2019-05-14 07:20:56,905 ERROR ThermoRawFileParser.MainClass - An unexpect

[2019-05-14 09:40] ypriverol commented on #42
The following PR https://github.com/compomics/ThermoRawFileParser/pull/44 provides a new parameter `-b` where the user can provide the name of the file path to output the data.

[2019-05-14 12:38] jpfeuffer commented on #45
Yes the region and language settings are set to German.

[2019-05-14 16:05] ypriverol commented on #43
@rmflight we just release a new version: https://github.com/compomics/ThermoRawFileParser/releases/tag/v1.1.4

[2019-05-14 16:05] #43 closed

[2019-05-14 16:06] ypriverol commented on #42
@timosachsenberg we have a new release with output_file included https://github.com/compomics/ThermoRawFileParser/releases/tag/v1.1.4

[2019-05-14 16:06] #42 closed

[2019-05-14 16:07] ypriverol commented on #39
@mobiusklein @caetera We included in the new release https://github.com/compomics/ThermoRawFileParser/releases/tag/v1.1.4 the changes included by @caetera . Can you test on your side. ?

[2019-05-14 16:07] #39 closed

[2019-05-14 16:08] ypriverol commented on #35
@yafeng we have updated the library, here the new release  https://github.com/compomics/ThermoRawFileParser/releases/tag/v1.1.4

[2019-05-14 16:08] #35 closed

[2019-05-14 16:08] ypriverol commented on #34
@rmflight can you test the new version. We have address the following issue.

[2019-05-14 16:10] #12 closed

[2019-05-14 16:53] mobiusklein commented on #39
Looks like it broadly worked on my end, though the file is 746,213,376 bytes with this version compared to 746,278,912 bytes from the previous version built from source. Did something else change?

[2019-05-14 18:08] ypriverol commented on #39
We have some changes related to profile data.

[2019-05-14 20:27] ypriverol commented on #45
Looks like a problem in the Thermo API.

[2019-05-15 08:31] nielshulstaert commented on #38
We released a new version (1.1.4) yesterday that should handle this problem. Am I correct to say that this only affects the MGF format and not mzML? The monoisotopic mass reported in the trailer data usually has a 4 digit precision while msconvert reports a similar value but with more digits, I'm not sure what I'm missing. Thanks again for taking your time to test the library and the valuable feed

[2019-05-15 08:57] nielshulstaert commented on #45
Hi @timosachsenberg I notice the same problem on machine with belgian locale. I'll try to fix it and get back to you.

[2019-05-15 09:00] ypriverol commented on #45
@nielshulstaert I have check the error yesterday. In this line https://github.com/compomics/ThermoRawFileParser/blob/master/Writer/MzMlSpectrumWriter.cs#L837 we capture the Injection time as String from thermo api. Then, probably the error is in thermo API side? I have contacted Jim about this. What do you think?

[2019-05-15 09:23] nielshulstaert commented on #45
I think the problem is on our side, the String from the thermo api is depending on the locale (comma or point as decimal separator) so I should be able to fix it.

[2019-05-15 12:04] mobiusklein commented on #38
I think @RonBeavis's point applies to both mzML and MGF. Even though you report the precursor m/z in the `[Thermo Trailer Extra]Monoisotopic M/Z:` param that ProteoWizard would report in `selectedIon`, tools would have to be "Thermo Trailer"-aware in order to get the same m/z from both  `msconvert` and `TRFP`.

Also, I may be missing some information, but https://github.com/compomics/ThermoRawFile

[2019-05-15 14:54] nielshulstaert commented on #45
Hi @timosachsenberg I released a new version (1.1.5) can you test it? Thanks for trying out the library.

[2019-05-15 15:27] timosachsenberg commented on #45
will do. Thanks for the quick fixes!

[2019-05-15 18:51] timosachsenberg commented on #34
I am pretty sure I did not change anything in our call to the TRFP but the spectrum does not get picked anymore.

[2019-05-16 00:46] rmflight commented on #34
For v112 vs v114, I get file sizes of 1749854 and 1749796, respectively when I specify `-f 1`, and don't do anything for peak picking.

When I add the `-p` option in v 1.1.4, my file size jumps to 23974569, or 13X the size of the other two. So from that simple perspective, the `-p` is definitely reporting profile mode spectra. I will read them into R using `xcms` hopefully on Friday (currently on

[2019-05-16 11:58] #45 closed

[2019-05-16 12:14] timosachsenberg commented on #34
@rmflight does this work for you with the v115 version and using the new outfile= option?
We currently have the strange situation that with peak picking enabled (noPeakPicking flag is not set) we get profile data:
https://github.com/OpenMS/OpenMS/pull/4095
Can anybody confirm that?

[2019-05-16 14:09] nielshulstaert commented on #38
Hi @mobiusklein you're right, I removed the `[Thermo Trailer Extra]Monoisotopic M/Z:` for MS1 spectra and the 'selected ion m\z' value in mzML output is now the same as the `PEPMASS` value in the MGF output.

[2019-05-16 15:33] jpfeuffer commented on #34
At least they are declared as profile spectra according to the CV term that is created here (without considering the new flag somehow):
https://github.com/compomics/ThermoRawFileParser/blob/a4038c3499435b3aec44b600ef7dc5f0a6e05550/Writer/MzMlSpectrumWriter.cs#L951

[2019-05-16 16:28] rmflight commented on #34
Won't be able to check until tomorrow, unfortunately. Currently on
vacation, and driving all day today. Should be able to check tomorrow.

On Thu, May 16, 2019, 8:14 AM Timo Sachsenberg <notifications@github.com>
wrote:

[2019-05-17 01:31] rmflight commented on #34
OK, so both v114 and v115 have `profile` in the output type, there is no `centroid` to be found, even when thermo peak picking is asked for. This is in there even when I specify the output file directly using `-b`. So even though peak picking is being performed, the output does not reflect that. I'm guessing there is a small bug, as pointed out by @jpfeuffer

[2019-05-17 14:25] nielshulstaert commented on #34
Hi if you run the parser without the `-p` flag, the native thermo library centroiding is applied. In the mzML output format, both centroid en profile scans are reported.

Using the `-p` flag disables the thermo centroiding and results in bigger files. In the mzML output format, both centroid en profile scans are reported.

So using the `-p` flag results in the same number of spectra as not using i

[2019-05-17 14:45] timosachsenberg commented on #34
Same file. As Julianus linked in this issue We think just the metadata is not properly updated but centroiding is performed.

[2019-05-17 14:58] rmflight commented on #34
Here is a file I've been using, in case it helps to have another one: https://drive.google.com/open?id=1AWSEQV7TtnFtPHwzld5U1KWtz1aM6kUm

[2019-05-21 13:45] nielshulstaert commented on #34
Hi @timosachsenberg what do you mean with the metadata?

[2019-05-21 13:48] jpfeuffer commented on #34
Hey! I think he means the cvparams preceding the spectrum:
We always get
`<cvParam cvRef="MS" accession="MS:1000128" value="" name="profile spectrum" />`
now, although peak picking is activated.

[2019-05-21 13:51] rmflight commented on #34
Right. If you do a search for `centroid`, it is not there, even if peak picking is activated. Previously, in v112, the metadata would contain `centroided spectrum` (or something similar), indicating that the spectrum was peak picked. Now, it never does, whether peak picking is activated or not.

[2019-05-21 14:59] nielshulstaert commented on #34
Hi thanks you're right, I changed it because I wanted to report the same scan type as msconvert but I didn't test it thoroughly enough. I fixed it in the v1.1.7-SNAPSHOT version that I've just updated.

[2019-05-21 16:32] timosachsenberg commented on #34
Thanks! There seem to be some new files (e.g. log file) that are not required.

[2019-05-21 17:41] rmflight commented on #34
Yep, just tested, and the metadata seems correct.

[2019-05-22 11:50] timosachsenberg commented on #34
I think the version string is not updated ... version="1.1.5"

[2019-05-22 11:59] timosachsenberg commented on #34
except for the minor things like additional (unneeded? e.g. log) files in the release, no update of the version number (I guess because its a snapshot and no official version) everything seems to be fixed.
Thanks!

[2019-05-22 14:33] rmflight opened #47 "Precursor Intensity has a value of 0??"
When I read in the file using the `xcms` R package, the `msnPrecursorIntensity` has a value of 0. When comparing my two `mzML` files, I see these differences in the `precursorList`:

## msconvert
    <selectedIonList count="1">
                <selectedIon>
                  <cvParam cvRef="MS" accession="MS:1000744" name="selected ion m/z" value="734.569152832031" unitCvRef="MS" unitAccession="MS

[2019-05-22 14:38] rmflight commented on #34
Also, just FYI, outside of the `msnPrecursorIntensity` issue (see #47 ), the output data from both `ThermoRawFileParser` and `msconvert` appears to be identical in profile mode. Which I have to admit is awesome, because now I can just run all my conversions under Linux.

[2019-05-23 09:01] nielshulstaert commented on #34
Hi @timosachsenberg the log file has been there since the beginning but I agree the logging to file should be optional. I've commented it out in the `log4net.config` file and updated the v1.1.7-SNAPSHOT version. I've updated the logging section in the `readme` file.

@rmflight indeed the precursor intensity isn't there, I'll comment on that issue [#47](https://github.com/compomics/ThermoRawFilePar

[2019-05-23 09:08] nielshulstaert commented on #47
Hi @rmflight indeed the precursor intensity isn't there yet, neither in the MGF nor the mzML output. I've figured out how to calculate it for both centroid and profile data but I still need to test it. Also it will slow the conversion down so I might add it as (yet another) flag in a future release. It's also not clear to me whether this value is used by search engines for example.

[2019-05-23 09:15] caetera commented on #15
What about the license for non-thermo code?
The current license file seems to be only for the Thermo .NET libraries. Will the same rules apply for all the code?
To put it in plain words, what if I want to reuse the code from, let's say mzML writer in my own project?

[2019-05-23 09:16] ypriverol commented on #15
Good point, We can probably add a second license to the project.

[2019-05-23 09:17] timosachsenberg commented on #47
I use the precursor intensity in one of my tools but have to admit that it usually doesn't help too much in improving results.

[2019-05-23 09:18] timosachsenberg commented on #34
Thanks! You are awesome!

[2019-05-23 10:12] nielshulstaert commented on #46
Hi Timo my apologies for the late reply. I'm not sure, it looks like a problem with the native thermo library. I assume it's a 64bit system, does it have mono-runtime, mono-complete or mono-develop installed?

[2019-05-27 09:56] timosachsenberg commented on #46
Hmm I tried a lot of stuff: see https://github.com/OpenMS/OpenMS/pull/4095/files#diff-354f30a63fb0907d4ad57269548329e3
Still doesn't seem to work.

[2019-05-27 13:25] lgatto opened #48 "software version number"
How can I get the version of my current installation? Something like
[code]
or a `VERSION` file would be helpful.

[2019-05-27 13:49] nielshulstaert commented on #48
Hi Laurent, I've added a --version argument to the 1.1.7-SNAPSHOT release (-v is already taken for the verbose logging).

[2019-05-29 15:13] mobiusklein commented on #38
I think you settled any comments I had made. I just joined this conversation uninvited though, so I don't know if @RonBeavis  has more to say.

[2019-06-03 14:59] #48 closed

[2019-06-03 14:59] #38 closed

[2019-06-03 16:46] UKQIDA opened #49 "MS max charge in meta json"
Hi Niels and Yasset @nielshulstaert @ypriverol
When I convert a thermo raw file to mgf, the result meta.json file contains {"accession":"PRIDE:0000473","cvLabel":"PRIDE","name":"MS max charge","value":"2"}.
However, the charge values in mgf contains 3+ and 4+. Is there anything that I get it wrong or this is a real issue?
Thanks
Da
Below is part of mgf file:
BEGIN IONS
TITLE=controllerType=0 contr

[2019-06-04 12:15] nielshulstaert commented on #49
Hi Da, indeed there's a bug in the code. It should be fixed in the latest release (v1.1.7). Thanks for pointing this out!

[2019-06-04 13:44] #34 closed

[2019-06-08 07:15] bgruening opened #50 "Pleaes include the license file into the release tarball"
This is important for downstream packaging.

Thanks :)

[2019-06-12 14:50] nielshulstaert commented on #50
Hi Bjorn, I've updated the latest release and will include in the following ones.

[2019-06-12 14:50] #50 closed

[2019-06-13 12:36] #49 closed

[2019-06-28 08:08] Arthfael opened #51 "zlib and X!Tandem"
I am trying to search some Thermo Raw files using X!Tandem in OpenMS (Knime version). For this, I need to convert the files to mzML. I tried using ThermoRawFileParser:
`"...ThermoRawFileParser.exe" -i=".../MyThermoRawFile.raw" -b=".../MyOutputFile.mzML\" -f=1`
However, the XTandemAdapter node then gives me the following error:
_"Fatal error: unsupported CODEC used for mzML peak data (CODEC type=zl

[2019-06-28 14:39] nielshulstaert commented on #51
Hi,

I'll add a flag next week that disables the zlib compression. I'll keep you posted.

Best regards,

Niels

[2019-07-01 11:11] Arthfael commented on #51
Thank you so much for your prompt answer (I love how reactive people can be
in this community!)

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#m_-8565490318716961285_DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9

[2019-07-02 15:42] nielshulstaert commented on #51
Thank you for trying out the parser! I've released a new version (1.1.9) with a `-z` flag that disables the zlib compression. Could you give it a go?

[2019-07-06 14:35] cclinglings opened #52 "Could I convert mzML file to mgf file?"
I've got a public dataset, which is mzML format. I want to use mascot search engine, whose input must be mgf file. Could I convert mzML file  to mgf file? Thank you!

[2019-07-09 11:07] hbarsnes commented on #52
ThermoRawFileParser only supports the conversion of Thermo raw files. To convert mzML files you need to rely on other tools. See for example [ProteoWizard](http://proteowizard.sourceforge.net).

[2019-07-10 09:03] cclinglings commented on #52
ok. I need a tool could work at Linux, so ProteoWizard msconvert is not suitable for me.  thank you.

[2019-07-10 09:07] caetera commented on #52
Since you don't need vendor format support, native Linux version of Proteowizard should work for you

[2019-07-10 12:26] Arthfael commented on #51
Hi Niels,

Sorry for the delay in answering, I did not find the time to test the new
version until now. So far so good, I have successfully converted 5
different Raw files to mzML with zlib off and am now able to feed them into
X!Tandem on OpenMS without the previous error. Thanks a lot!
Best,

Armel

On Tue, Jul 2, 2019 at 5:42 PM Niels Hulstaert <notifications@github.com>
wrote:

[2019-07-16 07:57] cclinglings commented on #52
Yes, it works. Thank you!

[2019-07-16 07:57] #52 closed

[2019-07-17 07:50] timosachsenberg opened #53 "feature request:ThermoRawFileParser to extract batches of spectra/chromatograms"
For spectra or chromatogram visualization (e.g., on a webserver), it might be really useful to allow extraction of a batch of spectra or chromatograms (e.g., as JSON).
Are there any plans and would this be feasible?
Best,
Timo

[2019-07-23 08:41] caetera commented on #53
Hi Timo,
what kind of chromatograms do you have in mind? XICs or just TIC/BasePeak? I made once a small tool that builds a bunch of XICs out of a raw file (it is c# and used MSFileReader inside, thus, moving it to ThermoRawFileReader assemblies should be pretty straightforward) . The output is plaintext, but making it JSON should not be a huge deal as well. I can find some time to work on it furth

[2019-07-23 08:51] ypriverol commented on #53
Hi @caetera and @timosachsenberg:

I'm also interested in that topic. PRIDE is looking for json representation of proteomics data. I suggest that before we implemented this here. We discuss a proposal about how a json representation of an mzML should look like.

[2019-07-23 09:10] caetera commented on #53
Hi, @ypriverol,
yes, sure, it would be good to agree with the representation from the start.

[2019-07-23 11:48] CarlosHorro opened #54 "Problem in Galaxy workflow managing multiple raw files with ThermoRawFileParser"
Hi all,

Here at Barsnes' group we are using a Galaxy workflow which includes in its first steps ThermoRawFileParser.
When we try to convert multiple raw files, it seems that the tool accepts just one raw file (per job), which conflicts with the workflow (one job per step, even using multiple files per job). Would it be possible to add one option to ThermoRawFileParser like "-d"( input directory),

[2019-07-31 06:27] CarlosHorro commented on #54
May I contribute to ThermoRawFileParser trying to implement this functionality?

[2019-07-31 06:54] bgruening commented on #54
@CarlosHorro of course! See here: https://github.com/galaxyproteomics/tools-galaxyp/tree/master/tools/ThermoRawFileParser

[2019-07-31 07:00] CarlosHorro commented on #54
Great, thanks! :-)
Well, the Galaxy tool does not seem very complicated :-)  But I suppose I will have to work firstly on implementing the folder as input functionality here...

[2019-08-01 13:40] CarlosHorro commented on #54
I created the PR, although I'm not sure about if here changes are directly merged or firstly reviewed (as I did...)

[2019-08-05 13:57] CarlosHorro commented on #54
#55

[2019-08-14 09:26] #51 closed

[2019-08-19 08:39] nielshulstaert commented on #54
Hi @CarlosHorro my apologies for the late reply, I was on holidays for the last couple of weeks. I've merged your PR into the revision branch that I'm working on. I'm adding some other functionality and will release a new version this week. Thanks for contributing and I'll keep you posted!

[2019-08-20 06:51] CarlosHorro commented on #54
Thank you very much, great news! :-)

[2019-08-23 12:05] nielshulstaert commented on #54
Hi @caetera I've released a [new version](https://github.com/compomics/ThermoRawFileParser/releases/tag/v1.1.10-beta) with your pull request. Could you test it? I'll update the README file and merge with the master afterwards.

[2019-08-23 12:25] caetera commented on #54
Hi Niels,
you probably wanted to mark @CarlosHorro

[2019-08-23 13:38] CarlosHorro commented on #54
If it was referred to me, of course I will test it :-)

[2019-08-23 14:17] CarlosHorro commented on #54
Ok, I've tested all options apart from the ones related to S3 and everything seems to work :-)

[2019-08-23 15:36] #54 closed

[2019-09-04 13:18] caetera commented on #53
Hello @timosachsenberg  @ypriverol ,

do you feel this topic (JSON representation, batch LC extraction) can be used as one of the hackathon at EuBIC developer meeting?

For those who are not familiar, here is the link for DevMeeting: https://www.proteomics-academy.org/eubic-dev-meeting-2020

[2019-09-04 13:20] ypriverol commented on #53
Yes, sure. e should try to align this with the current efforts to standardize metadata in public repositories.

[2019-09-04 14:59] nielshulstaert commented on #53
I have some code that takes a retention time range, m/z and mass tolerance and returns a chromatogram in json format from a colleague I can share. As there are already a lot of command line arguments in the parser, should we try to incorporate this into the parser are create a new project?

[2019-09-05 13:49] tomas-pluskal opened #56 "macOS?"
Hi,
Has this been tested on macOS?
Thanks,
Tomas

[2019-09-05 14:02] hbarsnes commented on #56
Hi Tomas,

Yes, as long as you have Mono installed it should work fine.

Best regards,
Harald

[2019-09-05 14:04] tomas-pluskal commented on #56
Thanks!

On Thu, Sep 5, 2019 at 10:02 AM Harald Barsnes <notifications@github.com>
wrote:

[2019-09-05 14:12] #56 closed

[2019-09-16 11:52] caetera commented on #53
@nielshulstaert I agree that adding more command-line arguments will be quite "exhausting" already, especially since XICs are quite special case. Maybe it can be included in the current project but as a separate executable? Similar to how it is done in proteowizard: i.e. there is msconvert that is used for conversion of RAW files, and mspicture for extracting 2D maps. Both tools will use partially

[2019-09-16 11:59] caetera commented on #53
On yet even more separate note, the deadline for project submission for the hackathon is just around the corner. IMO both ideas, i.e. developing community-supported JSON-based format for raw files, or expanding ThermoRawFileReader with XIC functionality (either as a standalone tool or as part of its "ecosystem") sound fine. I can do the submission etc, however, I don't want to submit both of them,

[2019-09-16 15:31] nielshulstaert commented on #53
@caetera yes current project different executable sound good. I'm thinking of going to the hackathon, it would be interesting to contribute to either!

[2019-09-18 12:49] caetera commented on #53
@nielshulstaert I have drafted the project proposal for the hackathon. Do you want to be included as a co-author as well? Please, see the draft in G-docs https://docs.google.com/document/d/1llfBcbw1T6aeRblmKl3S4cNoshUpOynOu1gG0tdTVpc/edit?usp=sharing

[2019-09-18 13:00] ypriverol commented on #53
@caetera please include my name in the project becuase I’m interested and I will probably attend to the meeting. I really think that before arriving to the hackathon we should start talking about the standarization of the spectra in Json. We should arrive there to code and discuss small details.

[2019-09-18 13:51] caetera commented on #53
@ypriverol of course, I will include you, however, I believe, the development of JSON spectra format is a separate project, that is only partially overlapping with the topic of the project I am suggesting. For example, the representation of a bunch of XICs has not much in common with the representation of LC-MS run (a bunch of mass spectra). I agree with you, that having a common (standardized) un

[2019-09-19 08:57] nielshulstaert commented on #53
Hi @caetera yes please include me, thanks!

[2019-10-23 02:24] adecourcy opened #58 "Directory parsing error"
Hi,

I'm trying to use this on a Windows 10 machine and attempting to provide the absolute path to an input and output directory. However, when I do so I'm getting an invalid directory error.

For reference, here is the command I am using:

`& "D:\Documents\Research Projects\GUI\ThermoRawFileParser\bin\x64\Debug\ThermoRawFileParser.exe" -d="D:\Documents\Research Projects\GUI\data\raw\"`

and the e

[2019-10-23 08:01] nielshulstaert commented on #58
Hi thanks for trying out the parser. Indeed there seems to be an issue with spaces in the path on Windows. It works with me after removing the last backward slash (`d="D:\Documents\Research Projects\GUI\data\raw`). For paths without spaces, the trailing slash doesn't make a difference.

Let me know if that works for you and I'll fix this in a next release.

[2019-10-23 09:40] nielshulstaert commented on #58
After some debugging, it seems like the backslash quote combination `\"` is seen as an escaped quote so it will mess up your arguments if you use any other ones after it (like `-f=0`). The easiest solution is to avoid this.

Thanks for letting this know, I'll add it as remark in the help output for the `--input directory` option.

[2019-10-24 12:12] Adafede opened #59 "MacOS ThermoRawFileParser"
Hi,

Just to inform you the GUI is not working on MacOS Catalina because of Mono ("Error 2 Mono"), but command line is working!

[2019-10-24 12:24] hbarsnes commented on #59
Thanks for letting us know. It used to work on MacOS before though. Given that the command line works I assume you have Mono installed, so what is the command line you are able to run?

[2019-10-24 12:30] hbarsnes commented on #59
I've uploaded a debug version of the GUI that you can test here: http://vedlegg.uib.no/?id=e0c0c54f46042bd0af1860eb67800c2e. The only change is that it prints the command line before executing the parser. That way you can compare it to the one you run directly from the command line.

[2019-10-24 12:41] Adafede commented on #59
Wow, super fast!

Just tested your debug...

Here is what I input as command line:

(working)

Here is what the debug GUI gives me:
<img width="631" alt="Capture d’écran 2019-10-24 à 14 40 57" src="https://user-images.githubusercontent.com/44283913/67486447-54232100-f66c-11e9-8e73-ccc565413175.png">

(not working)

Thank you very much!

[2019-10-24 12:48] Adafede commented on #59
[code]
Works

[2019-10-24 12:52] hbarsnes commented on #59
Ok, so then the problem seems to be that mono is not in your general path. I'm not a Mac/Linux user myself, but there seems to be other Mac users having similar issues with Mono. See for example: https://stackoverflow.com/questions/32542535/how-to-install-mono-on-macos-so-mono-works-in-terminal. Hopefully some of those tips will solve the issue?

[2019-10-24 13:07] Adafede commented on #59
I think the problem is in your config files looking where to find mono...I'm not sure I can modify it.

Just quickly ran which is mono:

[2019-10-24 13:11] hbarsnes commented on #59
There are no config files for the GUI. It simply runs the command line displayed in the debug version. I will try to ask around for help from other Mac/Linux users and get back to you.

[2019-10-24 13:40] hbarsnes commented on #59
Here's a new debug version that sets the executable path to the same path as the GUI jar file before running the mono command: http://vedlegg.uib.no/?id=f1a82a1f8c59356afb0833289e5974db. Can you see if that makes a difference?

[2019-10-25 00:25] adecourcy commented on #58
That worked for me! Thank you very much for your help on this!

[2019-10-25 00:25] #58 closed

[2019-10-29 11:06] hbarsnes commented on #59
With the help of @CarlosHorro we have now released a new version that should solve the issue on MacOSX El Capitan (10.11) and later: http://genesis.ugent.be/maven2/no/uib/thermo-raw-file-parser-gui/ThermoRawFileParserGUI/1.2.1/ThermoRawFileParserGUI-1.2.1.zip.

Please give it a go and let us know if it works for you as well. If not, we'll reopen the issue.

[2019-10-29 11:06] #59 closed

[2019-10-29 12:27] Adafede commented on #59
Perfectly working, thanks a lot!

[2019-11-05 11:02] Adafede opened #60 "Export other detectors data from raw file"
Hi, since you were so amazingly reactive with solutions last time, I'll give it a try:

Could you find a way to also export other types of data from the .raw? (UV, Light Scattering, CAD, ...)

For UV (2D data), the export in .netCDF from Waters works fine, for 1D data like Corona CAD and so on, maybe an additional CSV would be great.

Thanks and good evening

[2019-11-05 14:53] caetera commented on #60
@nielshulstaert @ypriverol do you think this feature mounts naturally to batch XIC extraction?

[2019-11-26 04:58] prvst opened #61 "Statically-linked binaries"
Hi,

I really appreciate this project! I have plans to add it to [Philosopher](http://philosopher.nesvilab.org), but in order to do so we need to have statically-linked binaries. I'm not sure Jetbrains, but Mono has a tool that is specially designed to do that.

I was able to compile the project on Monodevelop and run mkbundle on the executable, the resulting binary works but only on a machine wit

[2019-12-13 15:42] nielshulstaert commented on #61
Hi,

Thanks for the suggestion and my apologies for the late reply. What platform do you want to build it for?

[2019-12-13 15:53] tomas-pluskal commented on #61
I would like to do the same for MZmine (https://mzmine.github.io). Ideally for Mac, Windows, and Linux. But I guess if we figure out how to do it for one platform, the rest can be inferred.

[2019-12-13 16:34] prvst commented on #61
Thanks for replying.
Could you assemble binaries for Windows and Linux ?

[2019-12-13 18:02] tomas-pluskal commented on #61
If we figure out the protocol how to do it, then sure I can do it.

[2019-12-16 13:19] nielshulstaert commented on #61
Hi,

I managed to create a working one for ubuntu 18. Initially I got the same error as you, here's what I did (on a ubuntu 18 virtual machine):

First get the appropriate platform

``
mkbundle --list-targets
mkbundle --fetch-target mono-6.6.0-ubuntu-18.04-x64
``

Then edit the mono config file, in this case in ``user_home/.mono/targets/mono-6.6.0-ubuntu-18.04-x64/etc/mono/`` and get rid of all th

[2019-12-20 20:06] prvst commented on #61
thanks, I'll try that

[2020-01-07 19:57] courcelm opened #62 "Add procps package to docker image for Nextflow tracing support"
The current Docker image is missing ps and therefore can't run with Nextflow tracing.
[code]

[2020-01-22 09:36] lucacozzuto opened #63 "question about license"
Dear developers,
I have a question about the possibility of redistributing code from Termofisher (both executable and dll). I'm just wondering if this is ok, or not.

Many thanks,

Luca

[2020-01-22 11:00] rolivella commented on #63
Hi @nielshulstaert , we @lucacozzuto and I are working on implement the ThermoRawFileParser into the QCloud master pipeline, for this we need to clarify this license question. AFAIK the point is:

The license at https://github.com/compomics/ThermoRawFileParser/blob/master/LICENSE only applies to the DLL files from Thermo, not to all your code. Is this the case? Thank you!

[2020-01-28 12:09] poofcakes opened #64 "mzXML?"
Are there any plans to support mzXML output?

[2020-01-28 14:55] nielshulstaert commented on #63
Hi this license indeed only applies to the Thermo DLL files. @ypriverol do I rename this file and add an apache2 or other license?

[2020-01-28 15:35] caetera commented on #64
Hi, @poofcakes, is there a particular use case where mzML cannot be used instead of mzXML? I mean, mzXML seems to be deprecated in favor of mzML. Most of the tools that I am aware of either support both format or more dead than alive. Implementing proper mzXML output is rather labor-intensive task.

[2020-01-28 15:53] poofcakes commented on #64
I see. I was asking because It's what our diagnostic pipeline has used for many years. I tried to use mzML just to see if it would work, but it seems to bug out somewhere. Still looking into why. If I'm the only one with a need for it, then I understand it's not worth it. 🙂

[2020-01-28 17:01] edeutsch commented on #64
As a voice from the group that originally came up with mzXML, I heartily support switching to mzML, and not prolonging the deprecated mzXML. We have! Note also that once you have converted from RAW to mzML (presumably using Linux+mono), it is easy to convert the mzML to mzXML using msconvert (under Linux). This is an extra step, of course, but perhaps not unreasonable for a deprecated format.

[2020-01-31 12:19] timosachsenberg commented on #45
@nielshulstaert Hi we just encountered a similar error (see the linked issue)

Depending on the locale we either get:
<userParam name="[Thermo Trailer Extra]Monoisotopic M/Z:" type="xsd:float" value="1112,523" />
or:
<userParam name="[Thermo Trailer Extra]Monoisotopic M/Z:" type="xsd:float" value="1112.523" />

It would be great if you could take a look at that. Hopefully just a small fix as befor

[2020-01-31 12:31] enetz opened #65 "Possible bug: userParam float value written out with comma on Windows"
There is a line that the parser writes out for each MS2 spectrum I think, it looks like this when a file is converted on german Windows 8.1:
<userParam name="[Thermo Trailer Extra]Monoisotopic M/Z:" type="xsd:float" value="1112,523" />

and this is the same file converted on Linux:
<userParam name="[Thermo Trailer Extra]Monoisotopic M/Z:" type="xsd:float" value="1112.523" />

On Windows a comma is

[2020-01-31 12:58] caetera commented on #45
Hi @nielshulstaert, I have added few changes to make InvariantCulture a default one for everything, that should solve this kind of problems once and for all. With this it should not be necessary to set it for every export. Please, check latest commit on the hackathon branch.
I don't have access to PCs with many different locales and thus cannot test it much. Can you check if it solves your problem

[2020-01-31 14:15] caetera commented on #65
Hi, @enetz, could you build the latest version from **eubic2020hackathon** branch and test if it will resolve the issue? I can provide binaries, if necessary.

[2020-01-31 14:36] enetz commented on #65
@caetera binaries would be helpful, as I have never built the ThermoRawFileParser before and probabaly won't be able to set it up quickly

[2020-01-31 14:52] caetera commented on #65
You can download the binaries from https://filesender.deic.dk/?s=download&token=34ad69a5-76ab-2ea0-51c2-540e97231c04

[2020-01-31 14:53] enetz commented on #65
@caetera thanks, I will test this on Windows and Linux today.

[2020-01-31 15:59] enetz commented on #65
@caetera Thanks! This works on german Windows 8.1 and Linux.

@nielshulstaert @ypriverol
Would it be possible to backport this commit
6b6f0266d59eb0733b0f01d747086f10e09b40d7
to master and make a new release?

We are preparing the release of OpenMS 2.5 and this bug makes the ThermoRawFileParser unusable in OpenMS pipelines on german (and probably a few other) Windows versions.

[2020-01-31 16:08] #65 closed

[2020-02-04 12:05] timosachsenberg commented on #65
Hi @caetera @nielshulstaert ,
I saw this issue got closed and would like to know if the commit will be ported
to master and released? In it's current state it is broken for us.
Best,
Timo

[2020-02-04 12:37] caetera commented on #65
Hi Timo,
Niels promised to merge all to master and release it very soon.

[2020-02-06 17:50] timosachsenberg opened #67 "Version number"
Hi @nielshulstaert thanks a ton for creating the new release.
There seems to be a small typo:
Tag is:  v1.2.0  a6f8e37
But the release title is v1.1.2 on the release page (which would indicate an old release)
Best,
Timo

[2020-02-06 19:20] timosachsenberg opened #68 "TRFP 1.2.0 fails on test data"
D:\TRFP1.2.0>ThermoRawFileParser.exe -i "ginkgotoxin-ms-switching.raw" -b test.mzML
now fails with:
-o, --output: specify a valid output directory

[2020-02-06 21:54] nielshulstaert commented on #67
Thanks Timo, I fixed it. I'll update the readme file with the new features tomorrow.

[2020-02-06 21:54] #67 closed

[2020-02-06 22:20] nielshulstaert commented on #68
Hi Timo, I did some refactoring of the argument parsing and this slipped through, thanks for letting me know!

[2020-02-06 22:20] #68 closed

[2020-02-07 08:27] #61 closed

[2020-02-07 08:28] #64 closed

[2020-02-07 08:29] nielshulstaert commented on #63
Apache license added and renamed thermo license to THERMO_LICENSE

[2020-02-07 08:29] #63 closed

[2020-02-07 08:33] nielshulstaert commented on #62
Hi thanks for the suggestion. @ypriverol could you have a look at this?

[2020-02-07 10:48] lucacozzuto commented on #63
Hi @nielshulstaert, my question was not about adding a new kind of license but if you (and other people like me) are authorised to redistribute the dll code inside our own github repositories. Thanks!

[2020-02-07 14:31] nielshulstaert commented on #60
Hi could you give some output examples for the 2D and the 1D data?

[2020-02-07 22:03] nielshulstaert commented on #53
Features added at the eubic 2020 developers meeting in nyborg and released in version 1.2.0. Thanks Vladimir and Yasset for initiating this!

[2020-02-07 22:04] #53 closed

[2020-02-10 08:04] Adafede commented on #60
@nielshulstaert

Hi,

Thank you for your answer. I have no real example since what I'm asking for currently _does not exist_, if I'm not mistaking.
Actually, what I'm doing is opening the .raw file, where all 3 signals (MS, UV, CAD) are encoded. I can visualize the traces in Xcalibur or other Thermo softwares and export them as .csv.
To work with other softwares, I need to convert the files in .mz

[2020-02-11 14:34] timosachsenberg commented on #65
Hi, thanks for the quick fixes - any chance to get a new release?

[2020-04-02 09:32] hbarsnes commented on #47
@nielshulstaert Any update on getting the precursor intensity included in the mgf and mzml outputs?

[2020-04-03 00:14] spinwang opened #70 "Adding"
I added the following line to `RawFilePaser.cs`

[code]

I can build and run the program successfully in Windows.

However, I received the following error when using mono `mono bin/x64/Debug/ThermoRawFileParser.exe -i=test.raw -o=test`
[code]

Without `rawFile.GetInstrumentMethod(0);`, everything is fine.

I am wondering if anyone can help on this. Thanks!

[2020-04-03 07:15] caetera commented on #70
Hi @spinwang,

Thermo Rawfile access library doesn't support method extraction under Mono. That might change in the future versions of it.

[2020-04-03 13:34] spinwang commented on #70
@caetera thank you for the quick response. I am wondering where can I read about what is supported under Mono? Such that we know what functions to use vs not.

[2020-04-03 17:25] caetera commented on #70
To my best knowledge, this is the only difference. You can get some documentation and libraries themselves from Planet Orbitrap https://planetorbitrap.com/rawfilereader

As Jim Shofstahl (the developer of Thermo labraries) explained, methods in RAW files are stored in Microsoft Compound File format, that is something exclusive for Microsoft and, thus, not ported to Linux. However, there is an open

[2020-04-06 11:01] jpfeuffer opened #71 "Wrong schema for indexedMzML?"
Hi!

I get the following header
[code]
when I run with "-f2"

Should it maybe be
[code]
 or similar?

[2020-04-14 16:17] tivdnbos opened #72 "[FeatureRequest] Adding progress bar"
When using ThermoRawFileParserGUI, it would be nice to show somewhere how many raw files already have been parsed. When parsing many raw files at once, this would make it easier to estimate how long it will take. This will also be interesting for the command-line version, but I'm not sure if that already exists or not.

[2020-04-14 16:22] caetera commented on #70
Should I close the issue?

[2020-04-14 17:33] hbarsnes commented on #72
Should not be too difficult to add in ThermoRawFileParserGUI. I will try to look into it later this week and let you know.

[2020-04-14 19:27] caetera commented on #72
Command-line version reports progress of each individual file.

[2020-04-14 20:25] hbarsnes commented on #72
Just deployed ThermoRawFileParser 1.3.0 with progress display. Both for the number of files converted and for each individual file.

[2020-04-15 02:40] spinwang commented on #70
@caetera thank you, my question was answered!

[2020-04-15 09:26] #70 closed

[2020-04-15 21:39] tivdnbos commented on #72
Thanks Harald!

[2020-04-15 21:39] #72 closed

[2020-04-16 14:10] higsch opened #73 "Produced mzML files cannot be handled by R's mzR::openMSfile function"
I produced mzML files from Thermo raw files using the docker version like that:
[code]
The raw files were SPS-MS3 files from an Orbitrap Lumos instrument. It all worked fine, I could run a MSGFplus search and detect TMT quantifications with OpenMS IsobaricAnalyzer.

However, when I wanted to open a spectrum in R with
[code]
I got this error:
[code]
I first thought there is something going wrong wi

[2020-04-18 08:26] caetera commented on #73
Hi Matthias,
Could you share some representative example of a file you used?

[2020-04-18 21:07] tivdnbos opened #74 "Conversion error: nstrument index not available for requested device"
Hi,

when trying to convert d6_12_hTT_I.raw to .mgf from PXD017035 (https://www.ebi.ac.uk/pride/archive/projects/PXD017035), I receive the following error message:

Any idea what this causes?

Thanks,
Tim

[2020-04-19 10:26] tivdnbos commented on #74
I have the same problem with MSConvert, so it might be a problem with the RAW file itself.

[2020-04-20 12:24] caetera commented on #74
Hi @tivdnbos, the file itself seems to be corrupted, I cannot open it with vendor software as well. The error indicates that (most likely) the index for MS data was not written to the file, that can happen when RAW file acquisition was not complete, for example, when mass spectrometer crushed during the run.

[2020-04-21 12:39] higsch commented on #73
Unfortunately, it's unpublished collaborator's data, but should be published in a couple of days, then I can link them.

[2020-04-23 07:46] fi7855ar opened #75 "Possibility to extract additional metadata parameters?"
Hi, I'm looking for a way to extract more metadata out of the .raw file, for example user instrument method (like DDA or DIA), gradient, swath window size (when running swath-ms).
Do you have a feature on ThermoRawFileParser that can get a full "metadatadump" of the run parameters?

Thanks!
// Filip

[2020-04-23 07:59] caetera commented on #75
Hi @fi7855ar,

I am the author of the small tool https://bitbucket.org/caetera/scanheadsman/src/netcore/ that can extract most of the metadata for each scan, method extraction is supported as well (as text for all instruments and as CSV/XML for Lumoses with Tune 3.2). It is using the same libraries as ThermoRawFileParser. If you want to use method extraction on Linux/Mac you have to use .NetCore v

[2020-04-23 08:21] fi7855ar commented on #75
Absolutely brilliant @caetera ,
I think this can be the solution for what I'm looking for; as I'm using Linux Ubuntu 18.04, I'll try the .NetCore version!
(I'll keep this thread open in case I run into any issues, and close it when I've confirmed it works)
Again thanks alot Vladimir,
//Filip

[2020-04-27 14:40] caetera commented on #73
As a quick check could you please, see if both mzML files (the one from ThermoRawFileParser and the one from ProteoWizard) pass validation against mzML scheme? You can use, for example, XMLValidator from OpenMS - https://abibuilder.informatik.uni-tuebingen.de/archive/openms/Documentation/release/latest/html/UTILS_XMLValidator.html

[2020-04-27 17:58] higsch commented on #73
I used XMLValidator version 2.3.0, no schema file.

For the ThermoRawFileParser I get:
[code]

For msConvert I get numerous error lines like this one:
[code]

[2020-04-28 07:25] fi7855ar commented on #75
I can report that the scanheadsman tool worked well for me to extract method metadata from raw files (using Ubuntu 18.04).
As with ThermoRawfileParser, you have to use mono platform to execute ( https://www.mono-project.com/download/stable/ )
Normally one should exeute as: mono scanheadsman.exe "path/to/rawfile" --method:CSV
But in my case it didn't work to execute the .exe file so I tried with th

[2020-04-28 11:10] ypriverol opened #76 "Error tool capturing only profile MS2 for PRIDE Raw submission"
@nielshulstaert @caetera :

We have found an "interesting" behavior (https://github.com/nf-core/proteomicslfq/issues/52) when running TRFP into one raw file from a COVID dataset. The tool only exports into the mzML the profile MS2 but not the centroid.

The raw file is:

[03.raw](http://ftp.pride.ebi.ac.uk/pride/data/archive/2020/04/PXD018682/03.raw)

[2020-04-28 23:12] edeutsch commented on #76
This sounds like the same bug that I emailed Niels about some time back. I don't think there was a resolution. We're interested in a resolution too. Here was the original report:

We think we have observed a peak-picking bug in ThermoRawFileParser:
Dataset: PXD013999
File: KO5.raw

After running:
mono /regis/sbeams/bin/ThermoRawFileParser/ThermoRawFileParser.exe -i=$name.raw -f=2 -o=./ -m=1 --meta

[2020-04-28 23:15] ypriverol commented on #76
@edeutsch we will have a look. @nielshulstaert will take a look tomorrow. The dataset I reported is actually a COVID-19 which is really important. I think is the capturing method. If @nielshulstaert can't do it, I will give a try.

[2020-04-29 08:03] fi7855ar commented on #75
I can report that the scanheadsman tool worked well for me to extract method metadata from raw files (using Ubuntu 18.04).
As with ThermoRawfileParser, you have to use mono platform to execute ( https://www.mono-project.com/download/stable/ )
Normally one should exeute as: mono scanheadsman.exe "path/to/rawfile" --method:CSV
But in my case it didn't work to execute the .exe file so I tried with th

[2020-04-29 08:03] #75 closed

[2020-04-29 10:33] nielshulstaert commented on #74
Hi, indeed I've encountered this problem as well with some files. MSConvert also didn't work but Proteome Discoverer did.

[2020-04-29 11:32] caetera commented on #75
Just wanted to add, that the compiled binary seems to work also with mono (i.e. no NetCore runtime is necessary), however I failed to build the project with xbuild (Mono) and successfully built it with msbuild provided with NetCore SDK. So when recompiling NetCore SDK might be necessary.

[2020-04-29 13:27] caetera commented on #76
I have seen this kind of behavior on some files with IT profile data. It seems like vendor libraries depend on centroiding provided by the instrument (it was named labels, as far as I can remember). Can it be that MSConvert falls back to its own centroiding algorithm when it cannot perform centroiding by vendor libraries?

[2020-04-29 16:50] edeutsch commented on #76
It could be. msconvert does have its own code for that. I was vaguely under the impression that msconvert always used vendor centroiding for all Thermo data, but I have no concrete information. Should we ask Matt? He could provide a definitive answer.

[2020-04-29 20:32] caetera commented on #76
I think I can find the solution - `Scan.ToCentroid ` method can perform centroiding of the profile spectra, if no `CentroidStream` is present in `Scan` itself. @nielshulstaert did you find this as well? (Just so I know if I need to change the code)

[2020-04-29 21:01] caetera commented on #73
Well, the error does not say much. The validation error should be solved by renaming the file so that the first character is letter, for example "a20200402_5v5_F3", however, not sure if it will solve the initial problem.
If not, the best option is to wait until the data become public.

[2020-04-30 10:01] nielshulstaert commented on #76
Hi @caetera thanks for the tip, I wasn't aware that method existed! Indeed there is no centroided data available for those profile scans. So should we always use this method unless the p|noPeakPicking argument is provided?

[2020-04-30 10:26] caetera commented on #76
Hi @nielshulstaert , when testing I have found a caveat - when applied to FTMS spectra that spit `CentroidStream` by default, it will redo the centroiding and thus will give wrong results (as far as I can say, it treats centroids as profile points). I haven't tested it with spectra that are centroided in raw file. If the API will pass them as `CentroidStream` that should be fine. I should have tim

[2020-04-30 10:34] nielshulstaert commented on #76
Ok it makes sense not do to it on already centroided data. I have time to work on it this afternoon, I'll keep you posted on my progress.

[2020-04-30 19:53] nielshulstaert commented on #76
Hi @caetera I've made a new branch with the changes, thermolibupgrade. I've tested it on some RAW files and it seems to work. Could you try it on an FTMS dataset? @edeutsch your example file output is a lot smaller now (the resulting MGF has the same size as an MSConvert one).

[2020-04-30 21:57] caetera commented on #76
Hi @nielshulstaert
During the test I can observe that only FTMS scans have CentroidStream, ITMS scans even when centroided still only have SegementedScan. The code you have added performs centroiding every time the spectrum does not have CentroidStream. I tested it on raw file with centroided ITMS (i.e. they do not have `CentroidStream` ) scans and it works correctly. Although I could not break it

[2020-05-01 08:18] nielshulstaert commented on #76
You're right @caetera it's better with the check. I've pushed the changes to the thermolibupgrade branch. Thanks for all your input, I'll release a new version on Sunday. Let me know if I missed something.

[2020-05-01 12:44] Adafede commented on #60
Is there so any answer?

In other words, for 1D Data, you simply got an intensity at a given retention time. (  X = ret tim, Y = Int). It is the case for some detectors which signal is encoded in the raw file...
For 2D data like UV or MS (that your converter mainly converts), you got 3 dimensions: intensity, retention time **and** _m/z_ or the wavelength, so you get X,Y,Z points and not X,Y only.

[2020-05-01 14:42] edeutsch commented on #60
Note that mzML has a section of the schema <chromatogram> specifically designed to hold this kind of data.

[2020-05-01 19:25] caetera commented on #76
@nielshulstaert I have added the centroid/profile detection for PROXI format (similarly how it is performed in mzML). When there is no profile spectrum, but user request it.
Also moved few comments.

[2020-05-02 22:18] caetera commented on #60
Hi @Adafede I will try to find time soon to implement it. Is it important to have it as netCDF?

@edeutsch am I correct that this kind of data belongs to `<chromatogramList>` ?

[2020-05-03 04:17] Adafede commented on #60
Hi @caetera , thank you very much for your prompt response! It would really be an enormous plus. No, it absolutely doesn’t need to be netCDF, or even more: _please don’t make it netCDF_ mzML is Perfect. I was just mentioning it because it is the only actual solution I know

[2020-05-03 07:27] edeutsch commented on #60
Correct, `<chromatogramList>` is for any intensity vs. time series data such as UV. I think msconvert will already export UV data to `<chromatogramList>`, although I am not certain.

[2020-05-03 13:09] caetera commented on #60
@Adafede ok. That will be mzML then. One more thing. I do not have any raw files with UV data, could you share some? You can use this link if necessary to upload large files: https://filesender.deic.dk/?s=upload&vid=4ffb472c-ff60-3499-58fa-0887a714f989

[2020-05-03 16:51] Adafede commented on #60
@caetera Thank you very much!

I did send 5 files to your link. ( [https://filesender.deic.dk/?s=download&token=489ce23a-d71c-319f-c438-6897b0f2f652](url))
1) 2 files with MS DDA (2D) and UV (2D) signals
2) 1 file with MS vDIA (2D) and UV (2D) signals
3) 2 files with MS DDA (2D), UV (2D) and CAD (1D) signals

@edeutsch Thank you also very much for your help!

Just to try clarifying once again: our

[2020-05-03 17:36] edeutsch commented on #60
Ah, I see, I misunderstood, I thought it was 1D data. If it's 2D, then I assume the usual <spectrum> part of the schema should be used? Maybe try running these files through msconvert to see what it does with the UV data if anything? or see if Matt Chambers has a comment on how msconvert handles this?

[2020-05-03 17:43] edeutsch commented on #60
I don't know what the current status is, but this thread seems to imply that the latest msconvert code will convert UV and CAD data to mzML:

https://sourceforge.net/p/proteowizard/mailman/message/36687814/

[2020-05-03 18:38] chambm commented on #60
MSconvert will convert PDA spectra (from PDA detector as shown by qualbrowser) as mzml spectra (wavelength is the x axis) and UV traces (from UV detector) as mzml chromatograms. Other detectors like A/d card are if ignored iirc.

[2020-05-03 18:40] caetera commented on #60
thank you for clarification @edeutsch and @chambm. I will stick to that kind of representation.

[2020-05-03 19:58] Adafede commented on #60
@chambm , @edeutsch , @caetera You guys are amazing!

[2020-05-04 08:51] nielshulstaert commented on #71
Hi, my apologies for the late reply. Indeed the indexed schema used is 1.1.1 so I could change it to

`<indexedmzML xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://psi.hupo.org/ms/mzml http://psidev.info/files/ms/mzML/xsd/mzML1.1.1_idx.xsd" xmlns="http://psi.hupo.org/ms/mzml">`

int the next release. I didn't find any 1.1.2 version, could you point me to it?

[2020-05-04 09:09] jpfeuffer commented on #71
Hi! I am actually not sure anymore where I got it from 😄 I think I compared with msConvert. Let me check if 1.1.2 was correct.
My main point was the "_idx" suffix, I think.

[2020-05-04 09:47] nielshulstaert commented on #76
@edeutsch @ypriverol I've released a new version, let us know if it works.

[2020-05-04 11:12] #74 closed

[2020-05-12 10:18] ypriverol commented on #71
The mzML schemas are here:

- index:  https://raw.githubusercontent.com/HUPO-PSI/mzML/master/schema/schema_1.1/mzML1.1.1_idx.xsd

- non-index: https://raw.githubusercontent.com/HUPO-PSI/mzML/master/schema/schema_1.1/mzML1.1.0.xsd

[2020-05-12 10:28] jpfeuffer commented on #71
Ok there is no 1.1.2 yet, right?

[2020-05-12 10:30] ypriverol commented on #71
The main problem we have here is that we are using URLs like:

[code]
This is wrong because is not a proper URL.

[2020-05-12 16:08] edeutsch commented on #71
As far as I'm aware, there is no 1.1.2. The latest schemas are listed here:
https://github.com/HUPO-PSI/mzML/tree/master/schema/schema_1.1

However, in looking at an output mzML files from msconvert, I see:
<indexedmzML xmlns="http://psi.hupo.org/ms/mzml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://psi
.hupo.org/ms/mzml http://psidev.info/files/ms/mzML/xsd/mzML

[2020-05-12 16:20] chambm commented on #71
@edeutsch I'm afraid this may be an action item 8 years overdue :)
https://sourceforge.net/p/psidev/mailman/psidev-ms-dev/thread/50D17F1D.9090508%40immun.lth.se/#msg30249870

[2020-05-12 20:12] edeutsch commented on #71
haha, I have taken slothfulness to a new level!

I propose to check in mzML1.1.2_idx.xsd. I found a copy of it. And then I will ask @javizca to update the hyperlinks at psidev.info.

It looks like ProteoWizard has already implemented this for many years. And then we'll get ThermoRawFileParser to do the same.

Any objections?

[2020-05-12 20:14] ypriverol commented on #71
@edeutsch actually you can do just a PR to github. We need to update the URLs in the library to github because the psi URLs are not working.

This goes nowhere http://psidev.info/files/ms/mzML/xsd/mzML1.1.1_idx.xsd

[2020-05-12 20:18] edeutsch commented on #71
@ypriverol I can certainly do a PR instead of direct checkin if you prefer that.

Although this goes nowhere:
http://psidev.info/files/ms/mzML/xsd/mzML1.1.1_idx.xsd
This does:
http://psidev.info/files/ms/mzML/xsd/mzML1.1.2_idx.xsd
(although to 1.1.1)

Which is why I said that after we have GitHub fixed, we need to ask @javizca to fix psidev.info. Or maybe you can do that?

[2020-05-12 20:30] edeutsch commented on #71
okay chaps, I have created a PR at
https://github.com/HUPO-PSI/mzML/pulls
I would say that if we get approvals from @ypriverol and @chambm, we can merge it.

Sound okay?

[2020-05-15 08:12] higsch commented on #73
So finally, the dataset is out. https://www.ebi.ac.uk/pride/archive/projects/PXD018357. The issue happens basically with all the `20200317_KKL_CoV2_24h_5v5_F*.raw` files.

[2020-05-15 08:44] caetera commented on #73
Good. I will try to check it ASAP (it will, likely, take some time), help from other people is appreciated.

[2020-05-20 23:34] edeutsch opened #78 "Missing precursor intensity?"
Hi, we just noticed after starting to use ThermoRarFileParser a lot that it is missing the precursor intensity that msconvert writes out. e.g.:

msconvert:
`              <selectedIonList count="1">
                <selectedIon>
                  <cvParam cvRef="MS" accession="MS:1000744" name="selected ion m/z" value="541.310729980469" unitCvRef="MS" unitAccession="MS:1000040" unitName="m/z"/>

[2020-05-21 09:13] caetera commented on #78
Hi Eric,
since I am modifying mzML part for the other issue I can look if this information can be pulled out.

[2020-05-21 19:32] caetera commented on #78
Hi @edeutsch ,

I have added the selected ion intensity. It is in the **uvdata** branch. The method to determine it is pretty simplistic, please, check if it works for you.

[2020-05-21 19:43] caetera commented on #60
Hi @Adafede ,

I have added UV, PDA total absorbance and pressure chromatograms, and PDA spectra into mzML file. There is a pre-release version in **uvdata** branch. I have added a new flag `-a` or `--allDetectors` that will switch this on. By default only MS data is used. Could you check if it works for you? Will you be able to compile the new version from source yourself or I should compile it f

[2020-05-21 20:08] edeutsch commented on #78
super, thanks! Do you plan on putting out a release soon with that in here?

[2020-05-21 21:48] caetera commented on #78
There should be a release in near future, it will depend also on #60

[2020-05-22 03:59] Adafede commented on #60
Thank you very much!
I'm quite ashamed of saying it but if you could compile it, it would be really helpful! I regularly have compiling issues depending on OS and so on...

Can't wait testing it!

[2020-05-22 07:23] caetera commented on #60
No problem. Here is the compiled version https://filesender.deic.dk/?s=download&token=5b357204-cf9e-8bbb-4a1d-f601daafe98f

[2020-05-22 07:24] caetera commented on #78
You can give a pre-release version a try: https://filesender.deic.dk/?s=download&token=5b357204-cf9e-8bbb-4a1d-f601daafe98f

[2020-05-22 09:48] Adafede commented on #60
Thank you!

I tried it but the resulting mzML cannot be opened in the softwares I use. Well...it can be opened but no scans are found...I don't know where the issue exactly is. Opening the resulting mzML in a text editor seems to look ok...

[2020-05-22 10:32] caetera commented on #60
Yes. Sorry. I have overlooked a small bug. Please, see the updated version.
https://filesender.deic.dk/?s=download&token=dc25d603-93ab-7c46-4e25-b03dfd5c791e

[2020-05-22 11:14] Adafede commented on #60
Hi,

Now I can open the file, so nice!

However I get quite confused about how to access the UV data that way...I think most softwares and packages have their parsers built to read the MS part and since your UV part is new they do not read it...
I gave a try with MSnbase @lgatto but it returned following error:  `Error in object@backend$getAllScanHeaderInfo() : [References::resolve()] Failed to re

[2020-05-22 16:41] caetera commented on #60
PDA spectra (if present) are stored inside spectumList structure in mzML. That is the only place they can be according to mzML specs and that is how they stored in ProteoWizard as well. There is indeed a difference, since PDA spectra lack some of the information such as precursor, scan event etc (it is not valid for them).
UV detector data (if present) are stored in chromatogramList structure, for

[2020-05-24 12:00] hbarsnes commented on #47
Please see https://github.com/compomics/ThermoRawFileParser/issues/78 for an update on this issue.

[2020-05-25 04:33] edeutsch commented on #78
Thank you for implementing this! I have tested and it seems to work well. Most of the values are identical to those generated by msconvert. But many are also different. I have not investigated details of how some are different, but the difference is often substantial. It is unclear if msconvert values are more correct than ThermoRawFileParser values or not.

[2020-05-25 10:06] caetera commented on #78
Hi @edeutsch, thank you for testing. Have you looked if the mass of the precursor is different as well, when the intensity is different? As to precursor mass, I guess we use the code similar to msconvert, (@nielshulstaert should know better) but maybe sometimes it gives slightly different result. There might be also some discrepancy if precursor is selected from a low resolution (IT) scan

[2020-05-25 14:50] caetera commented on #78
I did a bit more investigation (just a random DDA file with MS1 in orbitrap) - MSConvert and ThermoRawFileParser report the same precursor mass and charge for all spectra and the same intensity for ~96% of them. I did manual validation of few (~10) spectra that had difference in reported intensity. I can see, that MSConvert reports intensity of some other peak nearby, or another peak within the is

[2020-05-26 05:11] edeutsch commented on #78
It looks like msconvert is putting in a different Monoisotopic M/Z userparam for these cases where it is different:

When the precursor intensity is the same:
                <cvParam cvRef="MS" accession="MS:1000827" name="isolation window target m/z" value="419.316741943359" unitCvRef="MS" unitAccession="MS:1000040" unitName="m/z"/>
              <userParam name="[Thermo Trailer Extra]Monoisotop

[2020-05-28 16:38] mwalzer opened #79 "instrument type etc. not in instrumentConfigurationList"
The instrument type cvParams are in a `referenceableParamGroup` on top-level instead of within a  instrumentConfigurationList/instrumentConfiguration.
From the [specification](http://www.peptideatlas.org/tmp/mzML1.1.0.html#instrumentConfiguration) for the instrumentConfiguration tag:

Easy fix would be to move the referenceableParamGroup into a instrumentConfiguration tag.

[2020-05-28 16:40] mwalzer commented on #79
Tested with v1.1.8 to 1.1.11
Nothing newer - quay.io is down right now

[2020-05-28 16:46] mwalzer commented on #79
can confirm with v1.2.3

[2020-05-28 17:35] caetera commented on #79
Hi @mwalzer,
thank you for reporting this.
As I can read from the specification `referenceParamGroup` is `A collection of CVParam and UserParam elements that can be referenced from elsewhere in this mzML document`, so referencing this group as part of `instrumentConfiguration` should be a valid way to include instrument model (as required).
This way it is included in the example code provided in t

[2020-05-28 18:33] mwalzer commented on #79
True.

[2020-05-28 18:33] #79 closed

[2020-05-28 21:23] caetera commented on #60
Hi @Adafede ,

did you have a chance to check if the latest version works for you?

[2020-05-29 03:05] Adafede commented on #60
Hi @caetera ,
I had no chance to do it...my own bad, but I just ran it and:

`2020-05-29 05:02:22 ERROR An unexpected error occured:
2020-05-29 05:02:22 ERROR System.ArgumentException: UNC paths should be of the form \\server\share.
  at System.IO.Path.InsecureGetFullPath (System.String path) [0x0008a] in <b814b509d4ad406fb40c6c93e38929e7>:0
  at System.IO.FileStream..ctor (System.String path, Sys

[2020-05-29 06:38] caetera commented on #60
Could you provide the command you use to run the tool when the error occurred?

[2020-05-29 06:52] Adafede commented on #60
`(base) Adriano:ThermoRawFileParser-1.3.0-pre rutza$ mono ThermoRawFileParser.exe -i=191113_AR_10043_apolar_Pos.raw -allDetectors
2020-05-29 08:46:46 INFO Started parsing 191113_AR_10043_apolar_Pos.raw
2020-05-29 08:46:47 ERROR An unexpected error occured:
2020-05-29 08:46:47 ERROR System.ArgumentException: UNC paths should be of the form \\server\share.
  at System.IO.Path.InsecureGetFullPath (Sy

[2020-05-29 09:12] caetera commented on #60
The error has been tracked, the quick-fix would be to provide some value for output folder option (`-o`)

[2020-05-29 09:28] Adafede commented on #60
Ok, surprising!

I did it with -b and works.

I sadly don't know under which term CAD signal is encoded to help you seraching a term instead of "pressure"...might be corona ...I know that they used preexisiting modules in Chromeleon to do it...

File looks good. It opens with my usual softwares normally. Still don't exactly know how I'll access the rest of the encoded data but at least it is there

[2020-05-29 20:16] caetera commented on #60
Yes, both -o and -b will work as a fix.

I guess, there is slight misunderstanding. Let's use the file QC_MSDDA_UV_CAD that you once uploaded as example and see what is gonna happen during the conversion to mzML (with the current version). In that way we can figure out what is missing and what is present.
Inside of this file I can identify three type of devices - MS, PDA, and UV.

**MS** is obviou

[2020-06-29 21:59] edeutsch opened #80 "ThermoRawFileParser not recognizing some instruments?"
Hi, we have discovered that many of our ThermoRawFileParser converted files do not have the correct instrument model encoded in them. Example:
[code]

The instrument model is not provided, just the ambiguous parent term.
For the same file, msconvert provides this:
[code]

This seems to happen for both instruments:
   "name": "LTQ Orbitrap Velos"
   "name": "LTQ Orbitrap Elite"

Would you add those

[2020-06-30 13:00] caetera commented on #80
Hi Erik,

thank you for reporting the problem. The instrument in the files you refrence is provided as "Orbitrap Velos Pro", that does not have a specific CV term, the closest one is "LTQ Orbitrap Velos".
As a fix I added "Orbitrap Velos Pro" resolving to "LTQ Orbitrap Velos", but none of the the referenced files was from Orbitrap Elite, thus I will need an example to add Oribtrap Elite in the sam

[2020-06-30 14:56] pavel-shliaha opened #81 "writing SPS mz to mzML"
This reqest is very technical so please let me know if its not clear so I can elaborate or discuss it via a zoom meeting.

We would like to analyse some MS3 TMT data and one of the important outputs, that determines the quality of a particular peptide quantitation is the proportion of MS2 fragments selected by SPS for MS3 fragmentation, that have been assigned to a meanignful fragment of the ident

[2020-06-30 17:03] caetera commented on #81
Hi Pavel,

The solution that can be implemented is to include SPS Masses present in Scan Trailer into `<spectrum>` element as `<userParam>`. As I can, see there is no ontology term for this kind of information yet (Could you confirm it @edeutsch ?). Will this work for you?
However, the matching of SPS masses to fragments should be performed on a later stage of data processing. ThermoRawFileParser'

[2020-06-30 21:32] edeutsch commented on #80
Thanks for this. I have requested a new term for LTQ Orbitrap Velos Pro:
https://github.com/HUPO-PSI/psi-ms-CV/pull/31/files
Please review that PR.

As for the Orbitrap Elite, please see the first few files here:
ftp://ftp.pride.ebi.ac.uk/pride/data/archive/2019/08/PXD013646
Apparently the "LTQ Orbitrap Elite" and the "Orbitrap Elite" are the same instrument, just different names.

[2020-07-01 09:32] caetera commented on #80
I have updated the mapping in ThermoRawParser with new terms. I will talk with @nielshulstaert to get the new release.

[2020-07-03 10:04] ypriverol opened #82 "self contain app"
@caetera @nielshulstaert can we explore how to release self contain an application for the converter

[2020-07-03 11:09] caetera commented on #82
.NET Core has option to publish self-contained executable - https://docs.microsoft.com/en-us/dotnet/core/deploying/#publish-self-contained
That will require some work, however, to switch the project/solution to NetCore SDK, the code itself should be compatible (or require minor changes). It will also mean that we will need to produce a binary releases for every platform we want to support - linux-

[2020-07-03 12:20] nielshulstaert commented on #82
I've looked into the mono [mkbundle](https://www.mono-project.com/docs/tools+libraries/tools/mkbundle/) tool a while ago for an [issue](https://github.com/compomics/ThermoRawFileParser/issues/61). It seems that it's platform specific and it's not guaranteed that an ubuntu 18 executable will run on arch linux for example.

I don't have experience with .NET core but I'll try to install it on my syst

[2020-07-03 13:55] caetera commented on #82
Yes, for 5.0.38 there is a version complied for Net Standard 2.0 - i.e. NetCore 2.0 and higher -- https://docs.microsoft.com/en-us/dotnet/standard/net-standard

I have tried self-contained executables in other project, compiled on Ubuntu it worked on Arch without any problems. I did not perform extensive testing though.

[2020-07-10 11:43] dominik-kopczynski opened #83 "mzDB output"
Hi folks,

would it be possible to add a further output format for the thermo raw file parser, namely the mzDB file format [1]? With its index strategy and database structure, it is way faster to read them than parsing mzML files.

Cheers,
Dominik

[1] https://pubmed.ncbi.nlm.nih.gov/25505153/

[2020-07-10 11:49] ypriverol commented on #83
it should be easy and is the original idea of the library, we have the parquet file export.

[2020-07-10 15:39] RalfG opened #84 "Bioconda installation is confusing to call (ThermoRawFileParser.sh)"
If installed with bioconda, the package's binary is called `ThermoRawFileParser.sh`, which means the program can only be started by calling `ThermoRawFileParser.sh`, which seems like a pretty confusing name to me. I would definitely remove the `.sh` extension, and maybe add a second binary called `thermorawfileparser`, so lower case also works.
[code]

[2020-07-10 17:57] bgruening commented on #84
@RalfG if you like you can add here a symlink: https://github.com/bioconda/bioconda-recipes/blob/master/recipes/thermorawfileparser/meta.yaml#L15

[2020-07-10 18:33] RalfG commented on #84
Symlink for the lowercase sounds good. I guess no one would be against a secondary name. But what about the .sh extension? Any opinions?

[2020-07-10 18:39] bgruening commented on #84
I think this is fine.

[2020-07-10 22:36] caetera commented on #83
Hi @dominik-kopczynski, I think our good friend David have some plans on mzDB and ThermoRawFileParser.

[2020-07-20 10:38] TjobberTjob opened #85 "Conda installation errors"
Cannot install via conda, and the documentation doesn't seem to help. I've tried on Mac, Windows, and Linux; where only Mac was successful, and only some of the time.

I get
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: failed with repodata from current_repodata.json, will retry wi

[2020-07-24 23:53] edeutsch commented on #80
Any news on a new release?

[2020-07-30 04:01] 01joy opened #86 "How to export instrument methods in meta data?"
Hi developer,

I want to know is ThermoRawFileParser able to export instrument methods of hundreds of raw files in batch mode?

I have more than 100+ raw files downloaded from pride database, each of them has different instrument methods, I want to export the detailed instrument methods from all these raw files, can we do it?

For example the instrument methods below from Xcalibur:

![image](https

[2020-07-30 10:35] caetera commented on #86
Hi @01joy ,

ThermoRawFileParser does not support method extraction in metadata. You can extract methods in plain text and (only some information) to CSV and XML, using different tool - https://bitbucket.org/caetera/scanheadsman/src/netcore/. Hope it will help.

#75

[2020-07-30 22:46] chambm commented on #80
I've added these in msconvert as well. The Exploris 120 and 240 and the `Orbitrap ID-X` too. (NB for @caetera: that is the instrument model string to check for)

[2020-07-31 00:15] edeutsch commented on #80
Thanks, @chambm !

@caetera , new term is here:
https://github.com/HUPO-PSI/psi-ms-CV/pull/37/files

[2020-08-01 18:12] caetera commented on #80
Added Orbitrap ID-X in ded9953

Sorry, no updates on the new release. I talked with @nielshulstaert to review my changes (two pair of eyes are better, than one) and do a release some time ago, but I haven't heard from him since then.

[2020-08-02 03:17] 01joy commented on #86
Hi @caetera ,

Thank you very much, I have tried your recommended tool, the scanheadsman, it is a very fantastic tool, it can export the detailed info for each ms2 scan, that's what I want. Thank you very much.

[2020-08-03 11:35] #86 closed

[2020-08-04 06:04] edeutsch commented on #80
okay, thank you! We're still using 1.3.0-pre (or some version of that if there's more than one) but it would be super nice to have an official 1.3.0 or whatever version with these changes in there and whatever else has happened. Thanks!

[2020-08-19 08:04] david-bouyssie commented on #83
It should be indeed possible to implement the whole conversion logic inside the ThermoRawFileParser library.
However I decided to test a different solution for the mzDB conversion implementation, which should allow me to reuse existing Java/Scala code. If we are happy about this experiment it should also help other folks working in C++, R and so, to use the ThermoRawFileParser library. It might be

[2020-08-21 08:50] MatthewThe opened #88 "Filter by MS level in mgf output + MS3->MS2 mapping"
First of all, great package!

We have several RAW files with MS3 spectra, but in the current mgf output there doesn't seem to be a way to distinguish between MS2 and MS3 spectra. Ideally, we would want a command line argument to only write MS2 or MS3 spectra to the mgf file, as well as information on which MS2 scan the MS3 scan belongs to (present in the `precursor` tag in the mzML).

Would it be

[2020-08-25 19:10] caetera commented on #88
Just wondering why not using mzML that has precursor information? ;)
It seems like there is no valid field in MGF that can hold precursor scan information - I have to create one, thus, the resulting MGF is not standard anymore. I hope it won't break anything downstream. The implementation is not very pretty, since I have just reused code from mzML part. When flag `-P|--mgfPrecursor` is present, MG

[2020-08-26 08:18] MatthewThe commented on #88
That's awesome, thanks a lot!

You're completely right that we could use mzML directly, but for the moment we like the combination of being able to easily extract TMT reporter intensities without having to use an XML parser and processing the files with regular search engines.

For the moment we can probably build this ourselves, but do you have any idea/plan when this will be merged and/or releas

[2020-08-26 09:16] caetera commented on #88
On a second thought I think it would be better to put precursor information into the title field, i.e. something like
`TITLE=controllerType=0 controllerNumber=1 scan=5 [PRECURSOR=controllerType=0 controllerNumber=1 scan=4]` In that case the MGF should be standardized again. Please, let me know if it works for you.
Regarding, the release, I will try to push it ASAP, but it might be not fast at all.

[2020-08-26 10:46] MatthewThe commented on #88
That sounds like a good idea, that will definitely work for us as well.

I understand it might take a while for the release, no problem!

[2020-08-26 17:40] #60 closed

[2020-08-26 17:40] #80 closed

[2020-08-26 17:54] caetera commented on #80
Release is published.

[2020-08-26 18:24] caetera commented on #88
Ok. I moved it to the TITLE - 60062765

[2020-09-08 18:24] #88 closed

[2020-09-08 18:31] caetera commented on #88
Pushed into version 1.3.1 and released

[2020-09-09 08:23] #76 closed

[2020-09-09 08:36] MatthewThe commented on #88
Fantastic, thanks again! This really helps for our project.

[2020-09-09 16:57] david-bouyssie commented on #83
Here is a first pre-release including two converters (raw->mzDB and mzDB->MGF):
https://github.com/mzdb/mzdb4s/releases/download/0.2/mzdb-conversion-tools_0.2.zip

[2020-09-11 12:14] caetera commented on #73
Hi @higsch

could you check which version of ThermoRawFileParser container you use?
I tried with non-dockerized 1.2.0 and it seems to work. (There is a bug though in 1.3.0 and 1.3.1 (only when -p flag is set), I will fix it today.)

Invoked as
[code]

Then i used `bioconductor/bioconductor_docker:latest` (R 4.0.0 and Bioconductor 3.11) and latest version of `mzR`
[code]

[2020-09-11 18:50] caetera commented on #88
I have found a bug in mzML processing, thus, release was updated.

[2020-09-11 18:51] caetera commented on #73
Version 1.3.1 is updated with the fix for the bug, I have mentioned earlier.

[2020-09-15 09:58] ozgurdemir opened #90 "Include Reference and Exception Peaks"
Hi there,

thx for this nice library. By default the thermo RawFileReader hides exception and reference peaks from FTMS capable instruments. According to the RawFileReader documentation these can be activated via:

[code]

A github search did not reveal this line in the current code base of ThermoRawFileParser so I assume the written files do not contain the reference and exception peaks.
Is it po

[2020-09-15 10:04] caetera commented on #90
Hi @ozgurdemir ,

yes, you are right - reference and exception peaks are not included.
It can be done, though.

[2020-09-15 10:13] ozgurdemir commented on #90
@caetera thx. the question is should they be included by default. so just setting the

`rawFile.IncludeReferenceAndExceptionData = true;`

of should the user have the posibility to set it via a command line flag. The 2nd solution makes usage a bit more complicated and the implementation, too.

[2020-09-15 10:31] ozgurdemir commented on #90
So since I need this if it's ok I'd open up a pull request setting the flag to true and add a comment in the readme that by default reference and exception peaks are included.

[2020-09-15 11:00] caetera commented on #90
I think, it is better to keep the default behavior as it is now. Your case is rather an exception, IMO, thus, I would prefer the second solution.
If you can implement it and make a pull request I will be happy to review/merge it, otherwise, I can implement it later.

[2020-09-15 11:03] caetera commented on #84
Just wonder, can this issue be closed? Was it solved?

[2020-09-15 11:06] caetera commented on #84
Since you know about all this conda stuff, do you have any suggestions for #85 ?

[2020-09-15 11:07] ozgurdemir commented on #90
I agree that it is the better solution. However, I'm not familiar with the code base. So setting up the dev env and making the changes which are probably rather small will take me some time. What would be your timeline @caetera to implement this?

[2020-09-15 18:01] caetera commented on #90
837995a implements the change;
new console key `-x|--includeExceptionData` adds exception and reference data.
Please let me know if it works for you.
You can use semi-official docker container if necessary https://hub.docker.com/r/caetera/thermorawfileparser/

[2020-09-16 08:13] ozgurdemir commented on #90
@caetera wow that was quick. thx a lot for the implementation. really appreciated. I quickly tried the docker container and it seems to work.

[2020-09-16 16:50] ozgurdemir commented on #90
I'm gonna close this issue as it has been fixed.

[2020-09-16 16:50] #90 closed

[2020-09-16 17:42] caetera commented on #90
Great. I will include this update in the next release.

[2020-09-17 16:39] ozgurdemir commented on #90
@caetera any clue when the next release will be?

[2020-09-17 17:01] caetera commented on #90
@ozgurdemir It might take some time, let's say a week or two. There might be some minor changes in other parts of the tool.

[2020-09-22 09:57] RalfG commented on #84
@caetera, yes, this has been merged in bioconda/bioconda-recipes#23142, so this can be closed.

I definitely don't know all 😛 But I'll take a look.

[2020-09-22 09:57] #84 closed

[2020-09-22 12:51] RalfG commented on #85
Bioconda only supports Linux and MacOS (https://bioconda.github.io/user/versions.html), Windows is not an option. Are you sure the channels are activated correctly? To be sure you can add all channels in the install command:
[code]

[2020-09-26 16:42] caetera commented on #81
I have made first implementation of SPS masses export - 85d300a . The masses are exported as additional precursor elements of a corresponding scan. Msconvert does it in a similar way. Unfortunately, it seems like the isolation width used for SPS masses is not stored in the raw file (or, at least, I could not find an obvious way to fish it out). Please, let me know, if it works for you.

[2020-10-05 09:56] caetera commented on #81
SPS is included in the latest release - 1.3.2

[2020-10-07 17:27] caetera commented on #71
It seems like the issue is still not fixed.
Should I just update schema location to the current location on Github?

    index: https://raw.githubusercontent.com/HUPO-PSI/mzML/master/schema/schema_1.1/mzML1.1.1_idx.xsd

    non-index: https://raw.githubusercontent.com/HUPO-PSI/mzML/master/schema/schema_1.1/mzML1.1.0.xsd

[2020-10-08 05:42] edeutsch commented on #71
Sorry, I forgot to follow up on this.
@javizca, would you make the links:
http://psidev.info/files/ms/mzML/xsd/mzML1.1.1_idx.xsd   (currently a 404)
http://psidev.info/files/ms/mzML/xsd/mzML1.1.2_idx.xsd   (currently points to the wrong file)
do the right thing?

Correct content is in:
https://github.com/HUPO-PSI/mzML/tree/master/schema/schema_1.1

[2020-10-28 14:23] RalfG opened #92 "Gzip does not work in BioContainers Docker container (missing library)"
Seems like the container is missing `libMonoPosixHelper.so`

[code]

[2020-10-28 16:23] #81 closed

[2020-11-02 19:57] caetera commented on #92
Hi @RalfG ,

to the best of my knowledge biocontainer image is abandoned so-to-say. You can use [caetera/thermorawfileparser](https://hub.docker.com/repository/docker/caetera/thermorawfileparser) as immediate substitution. It is basically the same biocontainer, just with the latest version of TRFP.

[2020-11-02 20:03] bgruening commented on #92
@caetera don't let this @ypriverol hear ;) Its not at all abandoned.
Here you can find a container for all version https://quay.io/repository/biocontainers/thermorawfileparser?tag=latest&tab=tags

If those container does not work with gzip, then a dependency is missing and should be declated in the conda recipe.

[2020-11-02 20:11] ypriverol commented on #92
We are using it in production and it works perfectly well.

[2020-11-02 20:26] caetera commented on #92
@bgruening good to know it is alive, however, the container is 3 releases behind the code of TRFP. Is it possible to set biocontainer to be built every time master is commited? I know it is possible on the DockerHub, but not familiar with Quay.

[2020-11-02 20:32] bgruening commented on #92
You need to create a proper release, then an automatic PR to bioconda is created and can be merged.

[2020-11-02 21:33] caetera commented on #92
Thank you for explanation @bgruening
What is considered "proper" release? There are seems to be three releases in GitHub (https://github.com/compomics/ThermoRawFileParser/releases) that do not have image in biocontainers.

[2020-11-12 10:37] RalfG commented on #92
The Bioconda bot updates Python packages automatically, I guess by looking at PyPI releases. Not sure if there's an option for non-Python packages.

[2020-11-13 10:17] caetera commented on #92
I checked the bioconda repository and figured out that the latest versions were not built because of failing test - https://github.com/bioconda/bioconda-recipes/pull/24101 .

It fails at

and the error is

I am fairly new to Bioconda recepies and, thus, all help in fixing it will be much appreciated.

[2020-11-17 15:30] rolivella opened #93 "What's the difference between -f=1 and -f=2?"
Hi, I'm using your library in a pipeline I'm developing and I would like to know the excact meaning of "indexed mzML" in one of the optional parameters:

`-f, --format=VALUE         The spectra output format: 0 for MGF, 1 for mzML, 2 for indexed mzML`

I'm processing complex Human samples and I obtain very different numbers for protein and peptide identifications when I change this parameter from

[2020-11-17 15:46] nielshulstaert commented on #93
Hi,

The indexed mzML has an additional index table at the bottom of the file for faster access to spectra, if the software you use supports it. There shouldn't be any difference in number of scans between the 2 formats. If you do notice a difference, please share the raw file in question so I can try to convert it.

Thanks for using the TRFP

[2020-11-19 10:27] rolivella commented on #93
Thanks @nielshulstaert . I think that in that case there's something wrong regarding the workflow that comes after the conversion. I'll check it and come back to you if necessary.

[2020-12-16 14:13] 5utr opened #94 "Error with Fragpipe"
I'm trying to use this converter with Fragpipe but I get an error that doesn't occur if I convert the RAW files to mzML  with msconverter and peakpicking filter.

This is the error msg:
`Cannot decode packed binary. expected element type <indexedmzML> but have <mzML>`

Any idea of what might cause it ?

[2020-12-16 14:18] caetera commented on #94
Hi @5utr ,

Thank you for using ThermoRawFileParser. For us to be able to track the error better could you write which version are you using (standalone or docker)? Will it be possible for you to share the raw file?

[2020-12-16 15:20] 5utr commented on #94
I'm using the standalone version

I uploaded the raw file, the conversion from msconvert and the conversion from thermorawfileparser here:

https://nextcloud.bcgsc.ca/index.php/s/JcJYtgyzEbKPncj

Thank you,

[2020-12-16 19:08] caetera commented on #94
Hi again,

the error you get originates from FragPipe - `freequant` requires indexed mzML file, thus, it is necessary to use -f=2 in TRFP. MSConvert generates indexed mzML by default.

After converting your file with `-f=2` using version 1.3.2 of TRFP (I do not have now the version 1.1.11 that you used) it was successfully processed by FragPipe v14.0

[2020-12-16 20:28] #73 closed

[2020-12-16 20:39] higsch commented on #73
Thanks a lot!
I totally forgot to answer, sorry for this! I think I used one of the 1.3.x versions – thanks for fixing!

[2020-12-16 22:16] edeutsch commented on #94
I meant to mention months ago, but never did. But am now reminded: I think it would be advantageous to make `-f=2` the default. We always use `-f=2` and I suspect most users will want `-f=2` but they may not realize it. I think most mzML-using software works better with the index or only works with the index or works just as well with or without. And I suspect few if any software programs *don't*

[2020-12-16 22:59] caetera commented on #94
Hi Eric,
thank you for your comment. You definitely have a valid point. I think it is good (and won't harm for sure) to make a distinction of "_plain_" and _indexed_ mzML more visible. I don't know what is the most common use pattern for the TRFP, I mean how often people use the default format (omit `-f` key), but changing default to `-f=2` is totally possible. I would like, though, to hear if som

[2020-12-16 23:19] 5utr commented on #94
Thank you for the quick reply, the -f 2 option works.

[2020-12-17 10:17] nielshulstaert commented on #94
Hi Eric, Vladimir,

Sounds good to me, I'll add it to the next release and make it clear in the documentation.

[2020-12-18 10:03] ozgurdemir opened #95 "Slow Conversion"
Is there a possibility to speed up the conversion process? The conversion of a file with ~200 scans takes around 20 seconds:

command used:
`ThermoRawFileParser.exe -i test.RAW -b test.mzML --noPeakPicking -f 1`

`real	1m2.862s
user	0m21.265s
sys	0m3.149s`

resulting mzML file size 52mb

Thanks for this application btw.

[2020-12-18 12:15] caetera commented on #95
Hi @ozgurdemir ,
it is not very clear how to answer your question, since it is not possible to locate the performance bottleneck from your description. Is it only slow with the specific file or the performance is slow in general?

The conversion uses a single thread. An obvious call is to use multi-threading, there is an old issue (#23) about it. This functionality was not implemented and I cannot

[2020-12-18 13:08] ozgurdemir commented on #95
Hi @caetera , thx for the rapid response. I'm note seeing this for a particular file. So you're right this is probably more of a question rather than in issue. I was just wondering why the conversion from one format to another takes so much time. Without knowing anything about the process itself. Maybe there are some calculations, compression etc. involved.

I agree. Parallelizing code is always t

[2020-12-18 13:12] nielshulstaert commented on #95
Hi I agree with @caetera, going multithreaded could make it faster but will be a challenge. I'm sure improvements could be made even without it, suggestions are always welcome (it was my first C# project). Could you share the RAW file? I'll see what I can do with profiling. Also, using the --noPeakPicking flag increases the file size size as you are probably aware. Thanks for using the parser.

[2020-12-24 07:29] imDpeng opened #96 "Use MsConvert for format conversion and get different results"
I used MsConvert and ThermoRawFileParser to convert the same rawfile respectively, and I did get different results. Why does this phenomenon occur? Does it affect the subsequent data analysis results?

system version: Linux dpeng-TianYi510Pro-18IKL 4.15.0-128-generic #131-Ubuntu SMP Wed Dec 9 06:57:35 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
docker version: Docker version 20.10.1, build 831ebea

Ms

[2020-12-24 11:44] caetera commented on #96
Hi @imDpeng ,

Thank you for using ThermoRawFileParser. The first thing that I would like to check is the significance of the difference, i.e. it can be that we are talking about (so to say) rounding errors, i.e. the same number is represented slightly different (for example 123.12345678  and 123.12345677, of course I mean binary and not string representation) depending the platform or libraries u

[2021-01-05 13:22] julianu opened #97 "Accessing data from different "detectors" like pump pressure and temperatures"
Hi,

Is it possible to add an option (or is it there already and I missed it?) to export the values of "detectors" (name of them in Thermo's Freestyle) which monitor the loading and NC pump, the column oven temperature, or e.g. the UV? Maybe even other measurements, but these are the ones I would be interested in.
The data should be there in the RAW files, but I don't know whether Thermo's RawFile

[2021-01-05 13:38] caetera commented on #97
Hi Julian,

since 1.3.0 there is an option to extract __all detector__ data with `-a|--allDetectors`. It will include, UV data, PDA data, and also try to find pressure data. UV and pressure data are stored as UV and pressure chromatograms in mzML. Note, that pressure data is stored sometimes as a **A/D detector** trace, the software search for traces that have word **pressure** in their name and e

[2021-01-05 13:39] caetera commented on #96
Hi @imDpeng,

could you, please, tell us if the suggested solution work for you?

[2021-01-05 14:04] imDpeng commented on #96
Of course it can, but I was working on another project recently, so I didn't conduct in-depth testing. Next, I will find time as soon as possible, test according to your suggestions, and then reply to you.

[2021-01-05 14:55] julianu commented on #97
That looks exactly like what I was looking for, great.
So I was a bit behind with the versions and CLI arguments, thanks for pointing me there.

[2021-01-05 14:55] #97 closed

[2021-01-05 21:40] caetera commented on #96
Sure. I only wanted to check if it works for you.
If you want, you can upload RAW and/or mzML files in question into this shared folder https://syddanskuni-my.sharepoint.com/:f:/g/personal/vgor_bmb_sdu_dk/EnSWhNBfa9JHj2t_JeTyklwBIwOcRXbB_-4l3WV3Y1iRzw?e=oxwEfd and I can look through it in my free time.

[2021-01-07 02:53] imDpeng commented on #96
Because of network problems, file uploads always fail. The size of my MS file is only 300MB, so it is not convenient for you to send me your email. I will send the mass spec file to you by email.

[2021-01-07 22:42] caetera commented on #96
I am afraid 300 Mb won't be accepted by my mail server, but I have another option for uploading - maybe it will work better.
https://filesender.deic.dk/?s=upload&vid=4554a75b-0ef5-5f2d-b93d-bbca15d0e59d

[2021-01-08 02:44] imDpeng commented on #96
Uploaded, the address is https://filesender.deic.dk/?s=download&token=04580201-4d84-877c-2119-8ce446be4207

[2021-01-10 19:10] caetera commented on #96
I have performed analysis of the file using the same docker images as you (the test system was Ubuntu 18.04.3 LTS (GNU/Linux 4.15.0-106-generic x86_64 and Docker 19.03.4, build 9013bf583a). I can share some results.
The file you uploaded does not contain scan 115537 (the one you mentioned in your opening post), so I cannot check this particular scan.

There is an obvious difference with MS1 scans.

[2021-01-12 17:31] 5utr opened #98 "MSconvert differences and error with Fragpipe"
I converted some raw files with the standalone version 1.3.2 and the parameter -f2. When I try to process the files with Fragpipe v14 I get errors in the Freequant part for some of the converted files but not for others. If the same files are converted with MSconvert I don't get the error.

I uploaded some of the files for comparison:
https://nextcloud.bcgsc.ca/index.php/s/TRPMntGdDzWgLde

Specifi

[2021-01-24 15:04] tomas-pluskal opened #99 "Output to stdout?"
Hi, is it possible to specify stdout as the destination?
If not, would it be possible to add such feature?
It would be great for processing the output files (e.g., mzML) using pipes without the necessity to store the mzML in a separate file.

[2021-01-24 15:20] caetera commented on #99
Hi @tomas-pluskal

thank you for your interest in ThermoRawFileParser. On Linux one can use `/dev/stdout` as an argument for `-b` (single file output), you should also use `-l=0` (no logging) to get "clean" output. Please, let me know if it works for you.

[2021-01-24 15:22] tomas-pluskal commented on #99
Thanks for the tip, but actually I would like to use this option on macOS and on Windows as well.

[2021-01-24 16:05] caetera commented on #99
According to this thread - https://unix.stackexchange.com/questions/338667/unix-systems-without-dev-stdin-dev-stdout-and-dev-stderr - `/dev/stdout` should work on the majority of POSIX-compliant systems, including MacOS. I do not have any Mac to test it, but it worth trying. There are some aliases that can work as well, `/proc/self/fd/1` and `/dev/fd/1`. On Windows the situation is a bit more comp

[2021-01-24 16:10] caetera commented on #98
Hi @5utr

will also be possible for you to provide the raw file?

[2021-01-24 21:51] tomas-pluskal commented on #99
Thanks!

[2021-01-25 14:05] 5utr commented on #98
Hi @caetera I added the raw files to the same folder.

[2021-01-26 20:27] caetera commented on #98
I think I could fix the error. The issue was with handling of empty (zero ms points) spectra. You can download the precompiled beta version using this link https://syddanskuni-my.sharepoint.com/:u:/g/personal/vgor_bmb_sdu_dk/EQUDjsllf0JLjKesfCMamD8BMWQ5XD2pZG_GSX7rvV87Iw?e=05PelN or build it from the source in `Issue98` branch in git.
Please, let me know if it works as expected.

[2021-01-28 15:47] 5utr commented on #98
The beta version works. Thank you.

[2021-01-28 19:26] caetera commented on #99
The new key `-s` `--stdout` directs file output to standard output. It implies silent logging (i.e. the value of `-l` key even if it exists is ignored and `-l=0` is used instead) and invalidates, obviously, `-o` and `-b` keys (i.e. the program will exist with error).
You can get the beta version using the link below or compile it from the source (f116a85) (I have tested it on Linux and Windows, bu

[2021-01-28 21:42] tomas-pluskal commented on #99
Thanks a lot. I just tested it using Mono on macOS, works like a charm!

[2021-01-29 09:59] caetera commented on #99
Good to hear, this feature will be added to the next release.

[2021-01-29 09:59] caetera commented on #98
Great. The release will be out in some future.

[2021-02-11 11:37] martenson opened #103 "The 1.3.2 release does not have LICENSE file packaged"
This affects bioconda package build process at https://github.com/bioconda/bioconda-recipes/pull/26729.

the 1.3.2 doe snot have it https://github.com/compomics/ThermoRawFileParser/releases/download/v1.3.2/ThermoRawFileParser.zip
the 1.2.3 has the LICENSE file https://github.com/compomics/ThermoRawFileParser/releases/download/v1.2.3/ThermoRawFileParser.zip

[2021-02-11 16:05] markmipt opened #104 "FAIMS compensation voltage is missing in mzML"
Hi,

The output of ThermoRawFileParser does not contain FAIMS compensation voltage information.

At the same time, it presented in the output of msconvert and looks like:
` <cvParam cvRef="MS" accession="MS:1001581" name="FAIMS compensation voltage" value="-50.0"/>`

I can share raw file if you need it for fix.

Regards,
Mark

[2021-02-11 16:13] martenson commented on #92
@caetera I think the bioconda build should be fixed (and package updated) with https://github.com/bioconda/bioconda-recipes/pull/26729

[2021-02-11 16:23] caetera commented on #103
Hi @martenson, I will make a note to add it during the build. Not sure how and why it get lost. The next release should include the LICENSE.

[2021-02-12 18:26] bernt-matthias commented on #92
... and the follow up https://github.com/bioconda/bioconda-recipes/pull/26756 which solved the issue mentioned in the first message of the thread for me.

[2021-02-12 20:16] caetera commented on #104
Hi Mark,

the following commit adds FAIMS CV to mzML 2d7abcd7712d9015c695464a36787b0f20f1c1df

[2021-02-13 12:21] bgruening commented on #19
Yeah, that would be nice and give it a proper name :)

[2021-02-15 09:37] martenson opened #105 "Why are the metadata options exclusive?"
Hi,

I have a question regarding the `-m, --metadata=VALUE` option. The possible values are `0 for JSON, 1 for TXT`. However upon inspection it is clear the `json` and `txt` selections are not format output choices, because the files have different contents with only small overlaps.

Why is this the case? In our use case we want to preserve all the metadata - the info in json for public repository

[2021-02-15 19:42] caetera commented on #105
Hi @martenson,

I am afraid, I cannot answer your "why" question, maybe @nielshulstaert or @ypriverol can answer to it.
However, it is possible to have new option (for example, `2`) to have both JSON and TXT metadata. The only complication for now, I cannot come with a obvious and pretty solution to have user-defined path for both of files (i.e. if both metadata types will be exported the value of

[2021-02-16 08:50] martenson commented on #105
You could e.g. replace the `-m` and `-c` options with two path options, one for the "deposition metadata" and one for the "experiment metadata". If the option is present and has a valid path value it will create the corresponding output file. That would also clarify the txt/json confusion, so the option wouldn't look like data format choice anymore.

[2021-02-17 09:30] caetera commented on #105
Yes, that is good option, I will work on it. Although it might be not that fast, since I need to be sure it is backwards compatible.

[2021-02-18 00:36] jcanderan opened #106 "Instrument index not available for requested device"
Hello,

I'm getting the following error message with the version included in SearchGUI 4.0.18:

[code]

It happens for the following 4 files from this dataset: https://www.ebi.ac.uk/pride/archive/projects/PXD003528
Xu_20151119_IBD_HM467_CO_151204160652.raw
Xu_20151119_IBD_HM494_CO.raw
Xu_20151119_IBD_HM454_CO.raw
Xu_20151119_IBD_HM403_CO_151120170141.raw

I also want to mention that I used SearchG

[2021-02-19 11:20] caetera commented on #106
Hi @jcanderan

Thank you for using TRFP.
This error usually indicates, that the RAW file is corrupted. The error comes from the .NET library provided by Thermo.
I can confirm that these files fail in TRFP, recent versions of MSConvert, and Thermo's own software - FreeStyle (all these tools use .NET library), however, the files can be partially processed by older versions of MSConvert (based on MSF

[2021-02-19 11:23] #92 closed

[2021-02-19 21:58] jcanderan commented on #106
Thanks for the explanation!

[2021-02-19 21:58] #106 closed

[2021-02-23 14:25] nielshulstaert commented on #105
There is indeed little overlap between the 2 format options, we either need to make it more clear in the documentation or have the same metadata in both. Initially only the text format was available. @ypriverol you've worked on the json format, what do you think?

[2021-02-23 22:46] edeutsch commented on #105
I had always assumed that the content of the information was the same in the json and the text, just two different ways of expressing it. So I'm surprised to hear the contained metadata is different. It seems highly beneficial to me have all metadata in one location rather than two different subsets in two different files. I would personally advocate all metadata in the JSON file, since JSON seems

[2021-02-24 14:07] markmipt commented on #104
Thanks! It works fine for FAIMS data now. However, output always contains line with "FAIMS compensation voltage" = 0.0 for the  standard data with no FAIMS. Is it expected behavior? By the way, msconvert doesn't add these lines for the data with no FAIMS.

Regards,
Mark

[2021-02-27 18:03] jpfeuffer opened #107 "Missing compression CV with "-z" and MSGF+"
Hi!

I understand that "-z" deactivates zlib compression (which I needed for XTandem).
However, then MSGF+ complains with:
[code]

Maybe there needs to be a "compression = none" parameter if there is such a thing? Or there is a remaining attribute (despite "-z") somewhere that triggers "needsUncompressing" while it shouldn't?

I'll have a closer look at the mzML but maybe you know something right

[2021-02-27 18:33] caetera commented on #107
Hi Julianus,

yes, you are correct. I checked once again the mzML specification, the compression definition is required, i.e. there should be MS:1000576 (no compression) when `-z` is used. It will be fixed. Thank you for reporting.

[2021-03-07 23:45] ypriverol opened #108 "Error in file public data"
This file has an error:

[code]
http://ftp.pride.ebi.ac.uk/pride/data/archive/2020/05/PXD014145/MFA389.raw

[2021-03-08 10:35] caetera commented on #108
Hi @ypriverol,

The file was converted to mzML without any errors with the latest release version of TRFP (1.3.2) on Windows and Linux (Ubuntu 18.04.5, Mono 6.12). Could you provide more details how to reproduce the error?

[2021-03-08 21:10] ypriverol commented on #108
It actually works. Apparently, mono 6 if you use symbolic links, it will not work. if the file you are trying to convert is a symbolic link to another file, it will not work on mono 6.

[2021-03-08 21:10] #108 closed

[2021-03-26 10:06] bernt-matthias commented on #108
Is there a way to fix this? The Galaxy wrapper (actually any conda installation) suffers from the same problem since mono 6 is available. Still using a symlink seems very reasonable and handy.

I see the following ways to solve this (roughly ordered by my preference):

- an actual fix
- enforcing mono <6 in the bioconda recipe
- enforcing mono <6 in the Galaxy wrapper
- using a copy instead of a s

[2021-03-26 10:25] bernt-matthias opened #109 "byte order mark in mzml output"
I'm using OpenMS FileConverter (which uses ThermoRawFileParser 1.2.3) to convert a raw file to mzml.

The output contains a byte order mark  in the beginning of the file. If I look at the file with less the beginning looks like:

[code]

This makes downstream tools (e.g. SearchGUI) fail. Can you explain this behaviour or suggest a fix/workaround?

[2021-03-26 10:27] bernt-matthias commented on #109
Its the same for mzXML output. Which might suggest that the problem is an underlying library?

[2021-03-26 10:34] nielshulstaert commented on #109
Hi,

Did you try the conversion with the standalone ThermoRawFileParser? On Windows, you don't need to install anything else, on Linux you need mono. If you can share the RAW file, I can try it as well.

[2021-03-26 10:56] bernt-matthias commented on #109
The file is here: http://139.18.2.180/~maze/180719_NJ_Bastida_TA456_raw.raw
And the used conda environment over here: http://139.18.2.180/~maze/env.json

I was now able to reproduce the problem with:

`ThermoRawFileParser.sh  -i in/180719_NJ_Bastida_TA456_raw.raw -b trp.mzML -f=2 -e`

which is the call used in OpenMS

But not with

`ThermoRawFileParser.sh  -i in/180719_NJ_Bastida_TA456_raw.raw -b

[2021-03-26 10:56] bernt-matthias commented on #109
Please tell me if you got the file then I can remove it again.

[2021-03-26 11:20] nielshulstaert commented on #109
Yes I received it, I'll try it out and get back to you.

[2021-03-26 12:17] caetera commented on #108
Hi @bernt-matthias

the actual fix should likely be issued by mono developers. I am not sure how to approach it from the TRFP side, despite to check if we are on mono 6 and the input file is a symlink and try to fail with some sensible error or attempt to recover (copy file, "expand" the symlink). It sounds like quite an ugly fix to me.

[2021-03-26 15:13] nielshulstaert commented on #109
I can't seem to reproduce it with the standalone version or the bioconda one. I think indeed the problem lies somewhere else.

[2021-03-26 17:53] bernt-matthias commented on #109
Did you use 1.2.3?

[2021-03-26 17:56] bernt-matthias commented on #108
Thanks for you efforts.

Then I would go for option 2 for now.

Could you open an issue at the mono repository? I

[2021-03-26 18:00] bernt-matthias commented on #108
https://github.com/bernt-matthias/bioconda-recipes/pull/new/topic/trfp-mono

[2021-03-27 11:12] bernt-matthias commented on #109
Which viewer do you use for looking at the file? I only see it with `less`, `cat` for instance is not showing it.

[2021-03-27 13:19] bernt-matthias commented on #109
Can you execute `file trp.mzML`

For me it tells me `trp.mzML: XML 1.0 document, UTF-8 Unicode (with BOM) text, with very long lines`

Maybe (wild guess) its the cryptostream used here https://github.com/compomics/ThermoRawFileParser/blob/6ce17b66575dd3d4257b04dab96108ce2abb15f3/Writer/MzMlSpectrumWriter.cs#L89 is

[2021-03-29 10:09] nielshulstaert commented on #109
I'm using the latest version of the TRFP. I can't see the BOM whit `less` but the `file` command output is the same as yours and the non-indexed mzML just says `XML 1.0 document, ASCII text, with very long lines`. You might be right about the cryptostream, I'll have a look around for a possible fix. Any suggestions are welcome.

[2021-03-29 10:36] bernt-matthias commented on #109
Did some research: According to https://docs.microsoft.com/en-us/dotnet/api/system.xml.xmlwriter.create?view=net-5.0 the BOM should be omitted if you use: `Encoding.UTF8()` instead of `Encoding.UTF8` here: https://github.com/compomics/ThermoRawFileParser/blob/6ce17b66575dd3d4257b04dab96108ce2abb15f3/Writer/MzMlSpectrumWriter.cs#L84

See also the remarks over here: https://docs.microsoft.com/en-us/

[2021-03-29 12:07] nielshulstaert commented on #109
That seems to work, thanks! I'll include in the next release.

[2021-03-29 13:22] bernt-matthias commented on #109
Excellent. Thanks a lot.

[2021-03-29 15:16] caetera commented on #108
I will need to do a little bit of investigation to localize the problem a bit better before I can open the issue.

[2021-03-29 15:25] nielshulstaert commented on #105
Hi @edeutsch , @ypriverol , @martenson ,

This table shows the metadata entries for both JSON and TEXT formats I would like to add in the next release. This way, both formats contain the same data and it should be backwards compatible. I tried to find appropriate CV terms for all of the fields, let me know if this looks good or if you have other suggestions.

| **JSON**

[2021-04-01 13:39] #103 closed

[2021-04-01 13:48] nielshulstaert commented on #107
This is fixed in release 1.3.3

[2021-04-01 13:48] #107 closed

[2021-04-01 13:49] nielshulstaert commented on #109
This is fixed in release 1.3.3

[2021-04-01 13:49] #109 closed

[2021-04-01 13:52] nielshulstaert commented on #104
This is fixed in release 1.3.3. It should report a value only when the FAIMS CV is on.

[2021-04-01 13:58] nielshulstaert commented on #99
This has been added to release 1.3.3

[2021-04-01 13:58] #99 closed

[2021-04-01 13:58] #93 closed

[2021-04-01 14:01] nielshulstaert commented on #105
JSON and TEXT output formats output the same metadata fields in release 1.3.3

[2021-04-01 14:01] #105 closed

[2021-04-01 18:23] martenson commented on #105
Thank you very much for such a quick response. Marvelous! 🎉

[2021-04-04 20:38] mwang87 opened #110 "v1.3.3 Fails Compilation on Linux"
The following commands:

[code]

Yield the following error

[code]

v1.3.2 does not cause this issue.

[2021-04-06 09:25] nielshulstaert commented on #110
Thanks for reporting this, I'll have a look at it and get back to you.

[2021-04-06 10:07] nielshulstaert commented on #110
I have the same problem with an old mono version (4.6.2) from the Ubuntu repositories. It works with the latest mono version (6.12.0) from the official mono repository. I'll have a look to make it work again on older mono versions. Suggestions are welcome.

[2021-04-06 10:27] caetera commented on #110
Can it be because Mono 4.6.2 do not support NET Standard 2.0?

https://docs.microsoft.com/en-us/dotnet/standard/net-standard

[2021-04-06 10:46] nielshulstaert commented on #110
Yes indeed, there should be a version of the thermo libraries that don't use .net standard, I'll try to get it so it still works on older mono versions.

[2021-04-06 14:17] lgatto opened #111 "Peak picking some MS levels only"
Thank you for `ThermoRawFileParser`, which I happily use on Linux.

It seems that peak picking is either activated on all scans or none, using `-p`. Unless I have missed it, it would be great to be able to apply peak picking only on some, use-defined MS levels. My typical use case would be to do it on MS2 scans and leave the MS1 scans in profile. I am using the latest release 1.3.3.

[2021-04-06 15:17] caetera commented on #111
Hi @lgatto,
That is correct, it is either all centroided (default) or all profile, if it is present ( `-p` ). The feature you request can be implemented in the next release.

[2021-04-06 15:21] lgatto commented on #111
That would be great, thank you.

Is there a release data for the next one, or is it whenever it is ready?

[2021-04-07 08:59] caetera commented on #111
No, we do not have the release date yet, but if you comfortable using prerelease build and/or build TRFP from the source, you can get it faster.

[2021-04-07 10:18] lgatto commented on #111
Thanks, will do.

[2021-04-07 10:22] lgatto commented on #111
Are there any build instructions available somewhere?

[2021-04-07 20:11] caetera commented on #111
I don't think we have official building instructions, but in principle, it is just cloning the repository and building with `msbuild`, assuming you have complete mono installation. For older versions of mono `xbuild` should be used instead.

Below is the excerpt from the Dockerfile I use locally, the compiled version will be in `/home/biodocker/build/bin/x64/Debug/`
[code]

There is a Dockerfile i

[2021-04-08 06:16] lgatto commented on #111
It ran

[code]

Which seemed successful. But
[code]
still indicates version 1.3.3 and I can't spot anything in the documentation about picking peaks in some MS levels.

[2021-04-08 06:26] caetera commented on #111
The feature is still to be implemented. I will update the issue when it will be ready. Sorry for the confusion.

[2021-04-08 07:28] lgatto commented on #111
Ah ok, thanks.

[2021-04-08 17:04] caetera commented on #111
273ff2cfaf6ad1b8e270e87a111fa23b94046c17 implements the feature
The `-p|--noPeakPicking` now supports additional value argument limiting it to some MS levels, the argument can be a list of numbers or intervals (including open) separated by commas, for example
just `-p` (no value defined) - no peak picking for all MS levels
`-p=2-` - no peak picking for MS2 and higher
`-p=1,3,5` - no peak picking f

[2021-04-08 17:51] lgatto commented on #111
Yes, I confirm it works. Thanks!

[2021-04-08 19:24] caetera commented on #108
A small update. I am afraid it is not mono, since I could reproduce the same error on native Windows, i.e. if the file is a symlink the library from Thermo refuses to open it. Surprisingly, there is no obvious and platform independent way to get the target of a symlink from C#. I will keep looking into it.

[2021-04-08 19:41] bernt-matthias commented on #108
Thanks for the update. Then its odd that it works for mono<5, or?

[2021-04-08 19:50] caetera commented on #108
It is, I don't have any explanation for it

[2021-04-12 13:09] caetera commented on #94
Indexed mzML is the default output for version 1.3.3, thus, I think the issue can be closed. Please, reopen it, if necessary.

[2021-04-12 13:09] #94 closed

[2021-04-12 13:11] #98 closed

[2021-04-16 08:11] sampie opened #112 "ThermoRawFileParser produces files, which can not be processed with msconvert"
When converting raw file to mzML with ThermoRawFileParser:
`
$ mono /opt/ThermoRawFileParser/ThermoRawFileParser.exe -f=2 -m=0 -i=170413_12mix_DIA_14.raw -b=170413_12mix_DIA_14.mzML -p
`

The mscovert can not process the converted file, but gives an error message about invalid cvParam
`
$ msconvert 170413_12mix_DIA_14.mzML --32 --zlib --filter "peakPicking false 1-" --mzXML -o ./
`
`
Invalid cvPar

[2021-04-16 16:31] caetera commented on #112
Hi @sampie ,

Thank you for your interest in ThermoRawFileParser.
This CVTerm corresponds to "ThermoRawFileParser" as processing software. It was added to PSI-MS controlled vocabulary only recently (since version 4.1.48). ProteoWizard (even the latest version) still uses older version of PSI-MS (4.1.41) and, therefore, this term is missing.
To fix it properly ProteoWizard should include the latest

[2021-04-16 16:31] caetera commented on #112
Hi @sampie ,

Thank you for your interest in ThermoRawFileParser.
This CVTerm corresponds to "ThermoRawFileParser" as processing software. It was added to PSI-MS controlled vocabulary only recently (since version 4.1.48). ProteoWizard (even the latest version) still uses older version of PSI-MS (4.1.41) and, therefore, this term is missing.
To fix it properly ProteoWizard should include the latest

[2021-04-16 17:49] sampie commented on #112
Thank you! I'll try 1.3.2.

[2021-04-19 16:17] RalfG commented on #62
@courcelm, `ps` should be available in the bioconda/biocontainers docker image. You can try with
[code]

[2021-04-19 16:29] RalfG opened #113 "Multiple Dockerfiles/images seem to confuse new users"
Is there a specific reason to have two Dockerfiles in this repository, next to the available images through bioconda/biocontainers? If not, I would advocate to simplify the situation and refer users to the biocontainers image only, or at least make the Docker section in the README a bit clearer.

[2021-04-19 16:33] RalfG commented on #62
@ypriverol, could/should `procps` be added to the Dockerfile(s) in this repo, or not?

This somewhat relates to my question in #113

[2021-04-20 07:44] hechth commented on #112
Just as a hint: this also causes problems in tools based on proteowizard such as [mzR](https://github.com/sneumann/mzR) which is used as the main reader of `mzml` files in R, so many downstream tools depend on it.

[2021-04-20 08:47] nielshulstaert commented on #112
Thanks it's indeed annoying that you can't use the generated files downstream. Should we release a new version with the previous value for the CV param @caetera ?

[2021-04-20 08:49] martenson commented on #112
My 2c: I believe it would be beneficial to do this (surprisingly) breaking change in sync with the downstream tools, so the whole chain has time to prepare releases and update dependencies.

[2021-04-20 08:57] nielshulstaert commented on #113
Thanks for the good suggestion, these files are there from before the biocontainers image was available. I'll remove the Dockerfile_basic and tell people to use the biocontainers image. @ypriverol do you still use the other Dockerfile?

[2021-04-20 09:04] ypriverol commented on #113
I originally intended this to have something close to the repo. Now it doesn't make sense because, as @RalfG suggested, the bioconda container is the main option. Feel free @nielshulstaert to remove the docker file.

[2021-04-20 09:27] caetera commented on #112
@nielshulstaert  Yes, I think we *have* to release some sort of quick-fix for now. I was not expecting this small change will have such a huge effect.
@martenson I agree that I should have been more aware of downstream tools when implementing the change.
![Sorry](https://media.giphy.com/media/cjzkCDL3jZTZB6ki1B/giphy.gif)

It would be nice, however, to let the developers of the downstream tools aw

[2021-04-20 09:45] nielshulstaert commented on #112
Ok thanks for all the input, I'll release a new version later today.

[2021-04-20 10:26] hechth commented on #112
Basically, proteowizard has to adapt their reader and then mzR has to link the newer version of proteowizard.
I created an [issue](https://github.com/ProteoWizard/pwiz/issues/1540) on pwiz and once this is handled, I can contribute to integrating it in mzR.

Can't make any guarantees for other tools though.

[2021-04-20 12:06] RalfG commented on #62
Closing, as Dockerfiles in this repo will be removed in favor of biocontainers image (see #113).

[2021-04-20 12:06] #62 closed

[2021-04-20 12:32] nielshulstaert commented on #113
I removed the obsolete docker files, thanks again for the suggestion.

[2021-04-20 12:32] #113 closed

[2021-04-20 12:33] nielshulstaert commented on #111
This feature is available in version 1.3.4

[2021-04-20 12:33] #111 closed

[2021-04-21 08:33] nielshulstaert commented on #112
I've released version 1.3.4 yesterday with the previous CV term. We'll keep this in mind when releasing next versions.

[2021-04-21 08:41] nielshulstaert commented on #110
Hi I don't have access to the new version of the thermo libraries without .net standard, but it should work for mono 5 and higher. If you can't upgrade mono, I can make branch that use the previous thermo libraries, let me know.

[2021-04-21 08:43] #104 closed

[2021-04-25 03:26] sorenwacker opened #114 "Zip a folder"
Lol, I am really happy for this package. However, I just made the mistake and unzipped the file in my home directory. It will take me a while to clean that up again.

[2021-04-25 16:11] soerendip opened #115 "mzML to parquet?"
I saw you are introducing parquet as output format. It would be great if the user would be able to use mzML as input and convert it to that format. Great tool!!

[2021-04-25 16:33] sorenwacker opened #116 "Parquet format: add polarity, and maybe change to long format"
I miss the ionization mode in the parquet format.
Did you consider not storing the intensities and masses as arrays but exploding them?
I find the data much easier to analyse if the data is in long format.
And because parquet is compressing the data, it should not blow up the file size to much.

[2021-04-26 07:17] caetera commented on #114
Hi @soerendip, thank you for using ThermoRawFileParser.
Your suggestion is to put a folder inside of release zip, instead of individual files. Did I get it right?

[2021-04-29 09:11] nielshulstaert commented on #115
Hi @soerendip thanks for using the TRFP! Conversion from a non-RAW format to other formats is not really something we're planning to include. There are mzML readers available in a lot of languages that you could use as a starting point. Let us know if you want more fields in the parquet output though.

[2021-04-29 09:19] nielshulstaert commented on #116
Hi @soerendip I should have read this issue before replying to your other one, thanks for your input. @ypriverol, are you using the parquet format output? I think you're more qualified to answer this one. We could add another parquet output option or add yet another flag.

[2021-04-29 13:46] caetera commented on #116
Hi @nielshulstaert is it worth considering moving format options into sub-commands? I.e. similarly to **xic** and **query** we introduce **mzml**, **mgf**, and **parquet** options to switch the format and substitute `-f` flag? That might help with too many flags. It will be, without any doubt, a significant change in the interface, but if properly "announced" should be possible. What do you think?

[2021-04-30 06:53] SteffenHeu opened #117 "MZ Values not sorted after conversion and peak picking"
OS: Windows 10 64 bit
Raw file parser version: ThermoRawFileParserGUI-1.6.0

Settings:
![grafik](https://user-images.githubusercontent.com/37407705/116659006-333e3900-a991-11eb-99b5-fbfeda401319.png)

When converting an Orbitrap Exactive raw data file, negative acquisiton mode not all m/z values are sorted. I'm not sure if it's actually a bug and m/z values are not guaranteed to be sorted, but eve

[2021-04-30 17:51] soerendip commented on #116
I not sure what is the best for the community. There is also the mzMLb format that was recently announced. The strength of the parquet format is its columnar format, which I think is undermined when you compress the data into arrays stored in the cells. I will run some tests next week and get back to you.

[2021-04-30 22:30] #115 closed

[2021-05-06 16:33] soerendip commented on #116
![read-speed-ms-file-formats](https://user-images.githubusercontent.com/3391614/117333080-cc6bc480-ae55-11eb-81df-f88206e8a975.png)
I made a test with 12 small metabolomics files converted to different formats. For _mzXML_ and _mzMLb_ I used the parsers from `pyteomics` and for _mzMLb_ from `pymzml`. For _parquet_ and _feather_ I used `Pandas` and `pyarrow`. The orange is just reading the data int

[2021-05-06 16:54] soerendip commented on #114
Yes, that is correct.

[2021-05-06 17:00] ypriverol commented on #116
Hi @soerendip :

Sorry to arrive late for this discussion. My idea here:

1- We in PRIDE are using Avro and parquet for data handling Peptide evidence storage and Spectra.
2- While we are not using the current implementation, I think it would be great to continue developing the parquet version here to enable in the future the development of new algorithms and storage systems to fast retrieve spect

[2021-05-06 17:54] soerendip commented on #19
I like 'parquet', as it is pretty clear what library to use to open it.

Regarding column names. I had a few thoughts:

- The column name `Mass` or `Masses` is technically wrong as it is M/Z values. Or do you convert the M/Z values into masses internally?
- `Intensities` could be `Intensity` even if it is an array.
- `RetentionTime` was used in _mzXML_ files, in _mzML_ files I have seen it as `Sca

[2021-05-06 18:17] soerendip commented on #116
Sure.

[2021-05-06 18:20] soerendip commented on #116
BTW you can find the files that I used.

The files were downloaded from https://www.ebi.ac.uk/metabolights/MTBLS1569/descriptors. And the converted files can be downloaded from https://soerendip.com/dl/MTBLS1569/

I used the 12 files starting with T for the test.

[2021-05-17 13:22] tomas-pluskal opened #118 "-s parameter fails to convert scan data"
Hi,
the -s parameter introduced after the discussion in #99 does not work in the latest version 1.3.4. (I have not tested previous releases so I don't know if it worked in the past and got broken at some point)

A simple test: I use a 15MB .raw file called a.raw.
After running `ThermoRawFileParser.exe -i a.raw` I get a complete mzML file a.mzML with comparable size (~10 MB).
When I run `ThermoRawF

[2021-05-18 09:46] nielshulstaert commented on #118
Hi Tomas thanks for reporting this, I'll have a look and get back to you.

[2021-05-18 14:11] nielshulstaert commented on #117
Hi there is no sorting in the TRFP code. You could try using msconvert and see if you get the same behavior.

[2021-05-18 14:22] tomas-pluskal commented on #117
I think the sorting of the m/z values is not strictly defined in the mzML standard specification, but it is sort of expected, because other tools do that and it "makes sense" to keep the data sorted by m/z. I also believe that msConvert always produces spectra sorted by m/z values, but it will be interesting to see if @SteffenHeu tests it on the same Orbitrap Exactive raw data file as above.

[2021-05-18 15:08] SteffenHeu commented on #117
Also happens with MSConvert if only "vendor peak picking" is applied. If An intensity threshold of 1 is set, the issue does not occur (at least for the given file). However, the actual intensity of the not-sorted m/z is not 0.

I have realised i forgot the link to the files in my initial post:
https://uni-muenster.sciebo.de/s/j4POPaWzWsjllkz
This includes the raw file, the Raw file parser file (*-

[2021-05-18 16:34] caetera commented on #117
Hi @SteffenHeu , I had a quick look at the file you have provided, scan 1 does not have the any peaks between 747 - 748 (neither raw, nor TRFP, nor MSC versions). Is it the correct file/scan?

@nielshulstaert , should we just add sorting of masses and intensities? I did a quick test, it adds <0.5% to execution time

[2021-05-18 16:43] caetera commented on #118
Hi Tomas, thank you for reporting. The cause of the error is likely because since 1.3.3 the default output format is **indexed** mzML, it is not possible to index piped output and thus TRFP crashes (I am actually surprised it does not spit any error or exception).
As quick work around, please, try using `-f=1` (regular mzML)

[2021-05-18 17:08] SteffenHeu commented on #117
Hi caetera,
it seems that my debugger (or our data model) fooled me.

The scan start time is 0.64536 in the trfp file with this spectrum id:
`<spectrum id="controllerType=0 controllerNumber=1 scan=38" index="37" defaultArrayLength="1204">`

Sorry for the inconvenience.

[2021-05-18 17:18] nielshulstaert commented on #118
Yes indeed I was looking for a fix but I didn't find one yet. @caetera indeed we need to at least mention it in de help output. As mentioned, it does work for all the other output formats, including the metadata.

[2021-05-18 20:31] tomas-pluskal commented on #118
I can confirm it works fine with the `-f=1` parameter.

[2021-05-19 02:39] soerendip commented on #116
BTW, Apparently, the mzMLb can be faster if generated with a better compression type. It seems for some reason the compression is zip in this files.. there is another dependency that was not installed (hdf5plugin, I believe). Which supposedly can make the file faster to read, however, it did not work so far and I am not sure what is wrong. I also looked at the file sizes. That is where mzMLb is be

[2021-05-19 02:42] soerendip commented on #116
My program uses the long format, that is why, when added the formating time, the TRR parquet format is slower.

[2021-05-24 01:40] jcanderan opened #119 "spammy output"
Hello,

When converting a file (linux commandline), the output is incredibly spammy, particularly with larger FASTA files. Is there a way to reduce this?

For example (timestamps are added by me):

[code]

This will go on for a long time depending on the size of the FASTA.

Thanks!

[2021-05-24 11:11] hbarsnes commented on #119
@jcanderan I think you may have posted this under the wrong issue tracker? At least this looks more like a SearchGUI issue? As there are no decoy sequence addition when converting raw files, and it does not include any FASTA files either. :)

[2021-05-24 12:11] #119 closed

[2021-06-10 09:39] zslastman commented on #110
So I'm still getting this bug, and am using mono 6.12.0 (Installed with conda, though I get it if I use the mono .pkg installer on my mac laptop instead).

I also get  issues with 1.3.2:

[code]

[2021-07-21 09:28] rolivella opened #120 "Wrong Orbitrap Exploris 480 CV?"
Hello

I'm converting Orbitrap Exploris 480 data and I get this "Invalid_SN_0001" for the "instrument serial number":

[code]

According the CV this code should be "MS:1000494" instead.

Could you check it?

Thank you!

[2021-07-21 13:35] rolivella commented on #120
Method error from their side.

[2021-07-22 07:36] rolivella commented on #120
Oops, I closed this issue by mistake. I reopen it.

[2021-07-22 15:23] caetera commented on #120
Hi @rolivella,

Thank you for reporting this. Complete Exploris family should be supported, i.e. it should resolve into `MS:1003028` for Exploris 480, I can confirm that it does not and that will be fixed.
I cannot, however, confirm the problem with oddly looking serial number. Exploris files I have tested all have valid serial number. I have seen, however, that sometimes the serial number field i

[2021-07-26 10:58] rolivella commented on #120
Hi @caetera. We checked and there're some Exploris that were bought before the commercial release and still experimental and we think that for that reason there's this "Invalid_SN_0001". I don't think that we have to worry about that so I close the issue. Thank you.

[2021-07-26 10:58] #120 closed

[2021-09-11 22:59] sorenwacker opened #121 "Semantic arguments for formats"
Hi,

who about changing the numbers to human readable format. I have to look up which format is which number each time I use the parser (after working on something else). To see what number I have to provide.

How about changing e.g.:

    ThermoRawFileParser.exe -i test.raw -f 3

to

    ThermoRawFileParser.exe -i test.raw -f parquet

And

    ThermoRawFileParser.exe -i test.raw -f 1

to

    The

[2021-09-16 15:55] levitsky opened #122 "MS1 spectra are not centroided in mzML output, but marked as such"
Hi,

Thank you for the great tool.

I'm using `ThermoRawFileParser` to convert a RAW file to mzML (no extra arguments). I get a file where MS1 spectra are still in profile mode, although they are marked as centroided. Here is the file for which the problem occurs:
http://ftp.pride.ebi.ac.uk/pride/data/archive/2019/07/PXD010133/BTB1382.raw

How do I go about it?

[2021-09-16 18:31] levitsky commented on #122
Turns out the spectra are not in fact in profile mode, they are just very crowded. Sorry for this.

[2021-09-16 18:31] #122 closed

[2021-11-04 20:17] SteffenHeu commented on #117
Thank you!

[2021-11-04 20:17] #117 closed

[2021-11-17 13:41] caetera commented on #121
Implemented in f1e9ed2

[2021-11-18 12:13] Ni-Ar opened #123 "MacOS solution"
Hi,

is possible to use your Thermo Raw file Parser on a macOS machine? are there other possible converters that one could use on a macOS machine?

Many thanks!

[2021-11-18 12:23] caetera commented on #123
Hi Ni-Ar,

thank you for your interest in ThermoRawFileParser. MacOS is fully supported - you just need to install Mono and you will be ready to run.

[2021-11-18 15:39] tobiasko opened #124 "RawFileReader .NET assembly page offline"
Dear compOMICS,

we realised that the RawFileReader page on planet orbitrap went offline. see https://planetorbitrap.com/rawfilereader Are you aware of any changes with respect to how Thermo is distributing the CommonCore dlls / .NET assembly in the future? Is Jim still the contact point at Thermo? What is the latest version? Your repo contains 4.0.26

Thx in advance,
Tobi

[2021-11-18 18:01] caetera commented on #124
Hi Tobias,

(although I am not part of Compomics), to the best of my knowledge Thermo decided to close PlanetOrbitrap portal and replace it with "better" one - AnalyteGuru - https://www.analyteguru.com/t5/Knowledgebase/Welcome-Planet-Orbitrap-Members/ta-p/13999.
There are some information regarding the RawFileReader on AnalyteGuru - https://www.analyteguru.com/t5/Scientific-Library/Raw-File-Reader

[2021-11-19 10:36] tobiasko commented on #124
Hi @caetera,

AnalyteGuru? Hail to the marketing department at Thermo Fisher! Yes, that is Jims old presentation from ASMS Atlanta 2019, but I can't find anything else. BTW: Do you know which recent .NET frameworks are compatible with the CommonCore dlls (SDKs, runtime). I am pretty confused by the .NET ecosystem and what is currently best practice.

Greetings,
Tobi

[2021-11-19 19:32] caetera commented on #124
Hi @tobiasko,

I am certainly not the most reliable source of information on .NET ecosystem, however, as far as I can see, the latest versions of CommonCore (starting from 5.0.7) are provided in NetFramework 4.7.1 and NetStandard 2.0 versions. We build TRFP with NetStandard one, it _should_ allow better compatibility between different platforms. Here is the information about different standards an

[2021-11-25 20:19] sorenwacker commented on #121
Nice!

[2021-11-25 20:19] #121 closed

[2021-12-02 09:27] #123 closed

[2021-12-02 09:28] caetera commented on #96
I will close the issue (since there was no any updates for almost a year), please, feel free to reopen, if necessary.

[2021-12-02 09:28] #96 closed

[2021-12-02 10:38] caetera opened #125 "Precursor intensity (the final issue)"
There is a long-lasting story of missing precursor intensity in TRFP (see #78 #47) and it should (finally, fingers crossed) come to an end, since this feature will be added to a next release.
It probably makes most sense to determine the precursor intensity in the same way as msconvert.
Looking at the msconvert code I can find two methods for precursor intensity calculation.

1. (recent versions)

[2021-12-02 11:07] hbarsnes commented on #125
@caetera Thanks for looking into this! I do not have any strong opinions on which method is the best one, but I would argue for using the same as msconvert, if only to make the differences between the resulting files from the two tools as small as possible.

[2021-12-02 16:58] edeutsch commented on #125
I agree with that argument.

Tagging @chambm in case he wishes to read the above and provide a opinion.

[2021-12-02 17:18] chambm commented on #125
The main reason for the change was to use previously retrieved peaks if possible instead of reading them in again. But I don't recall why I switched to summing the intensities instead of using the base peak. Both methods are flawed due to isolation window interference and only looking at a single MS1. I hope nobody's using it for serious quantitation. :sweat_smile:

[2021-12-08 08:55] tomas-pluskal opened #126 "Exception during conversion"
Hi, I downloaded the latest ThermoRawFileParser 1.3.4 and I see this exception when parsing a .raw file:
[code]

The raw file is attached.

[202112_DIMS_MS4_DDA_Orbitrap_IDX.zip](https://github.com/compomics/ThermoRawFileParser/files/7674691/202112_DIMS_MS4_DDA_Orbitrap_IDX.zip)

(originally reported by @robinschmid)

[2021-12-08 09:01] tomas-pluskal commented on #126
It seems ThermoRawFileParser produces partial mzML output with 239 scans. The original file has 1280 scans. The conversion crashes at scan 240, which is the first MS level 4 scan... so I suspect it has something to do with the MS level.

[2021-12-08 12:17] caetera commented on #126
Hi Tomas,
It is painful to admit it, but TRFP does not support MS4 or higher at the moment. Most likely it is the reason for the crash. I will investigate more and see if there an easy fix for that

[2021-12-08 17:36] caetera commented on #125
Thank you all for the feedback. I will use the **recent** method, i.e. summing the intensities in that case

[2022-01-10 21:09] Seb-Leb opened #127 "missing peaks after conversion"
Hello,

I used ThermoRawFileParser to convert a raw file to mgf and came across this issue while comparing that to the output of the msms.txt file resulting from a maxquant search of the raw file. This may be normal and known behaviour but I am not sure what to make of it. Some peaks annotated by maxquant are simply absent in the mgf conversion (centroided). With peak picking disabled, I can see e

[2022-01-10 22:50] caetera commented on #127
Hi @Seb-Leb,

thank you for using ThermoRawFileParser. I have few considerations regarding your issue.
First, in TRFP we exclude so-called "reference and exception data" during the conversion by default, you can disable this feature using the `-x, --includeExceptionData` option in command line. Typically, there are only few peaks in the spectrum that are marked as reference (for example lockmass)

[2022-01-10 23:02] Seb-Leb commented on #127
Thank you for the quick response! I figured it might be something to do with MaxQuant.. I don't have easy access to proprietary software to check the raw spectra (I didn't run maxquant myself..) so I could check whether those peaks were there. But I guess that clarifies where the problem is from..
Thanks again!

[2022-01-10 23:02] #127 closed

[2022-01-28 01:35] abdelq opened #128 "The given key 'PaperSprayIonization' was not present in the dictionary"
While trying out conversion of a raw file from a Thermo Fisher Scientific VeriSpray PaperSpray instrument, I noticed the exception in the title. I would have submitted a PR, but I don't know where the `accession` value comes from.

[code]

[2022-01-28 17:00] caetera commented on #128
Hi @abdelq ,
Thank you for your interest in ThermoRawFileParser. The accession is defined in PSI-MS controlled vocabulary (CV).
The vocabulary is maintained in https://github.com/HUPO-PSI/psi-ms-CV in OBO format. After a brief lookup, it seems like _paper spray ionization_ is not present yet in the vocabulary. You can either add a new term in the vocabulary (you can just do PR there with the updat

[2022-02-04 19:04] edeutsch commented on #128
Hi everyone, the new term is merged into the CV:
https://github.com/HUPO-PSI/psi-ms-CV/pull/100/files

[2022-02-08 19:17] GeorgWa opened #130 "Extracting Signal to Noise data from Raw Files"
Hi,

I have used the ThermoRawFileParser for some time now and I'm very happy with the Software!
Is there an option to include the signal to noise data in the mzML as defined in the mzML standard?

[code]

Best,
Georg

[2022-02-08 21:42] caetera commented on #130
Hi @GeorgWa ,
great to hear that you can find good use for ThermoRawFileParser.
The S/N array are not extracted currently, but this feature, certainly, can be added in the future.

[2022-02-08 22:27] GeorgWa commented on #130
Thanks a lot for the fast reply!
Do you know of ressources which describe the Thermo Raw File Reader DLL or the .raw format which could be helpfull for implementing this feature?

[2022-02-09 01:34] GeorgWa commented on #130
Just a quick update. I forked the repository and was able to add the data raw noise data to the mzML output.
[https://github.com/GeorgWa/ThermoRawFileParser/commit/10bba51029dbe8e71bc6c04bf244d012e57a2c84](https://github.com/GeorgWa/ThermoRawFileParser/commit/10bba51029dbe8e71bc6c04bf244d012e57a2c84)

If you are interested I can add this functionality with a pull request. Please let me know:
- Do

[2022-02-09 04:05] edeutsch commented on #130
Do you suppose that the noise array should have the same units as the intensity array?

[2022-02-09 19:10] caetera commented on #130
@GeorgWa Great, thank you for active participation. You are welcome to submit PR with the changes you have made, they will be merged into the next release with the other pending changes. Since there aren't any specific tests for signal-to-noise, you can just make sure the tests in ThermoRawFileParserTest solution work. The later requires setting up NUnit - it is sometimes a bit tricky, thus, it is

[2022-02-09 23:22] caetera commented on #130
Yes, `Scan` objects can contain two types of data streams `CentroidStream` and `SegmentedScan`, the first one has centroids - i.e. a set of (m/z, intensity, charge, noise, baseline) vectors; the second one has just (m/z, intensity) vectors. FT scans have both streams, while IT scans contain only `SegmentedScan` one. If a particular scan was acquired in Profile mode, the profile data end up in `Seg

[2022-02-09 23:54] edeutsch commented on #130
I wonder if we really know what the units of `sampled noise baseline array` are? Are they really detector counts? Or some other magical number that falls out of a Fourier transform that doesn't really have any units? I don't know.

But in any case, it is reasonable to add the same set of has_units to these terms that we have for others.

I will get it on the docket.

[2022-02-10 00:08] GeorgWa commented on #130
@edeutsch I'm also not sure about `sampled noise baseline array`. Should `MS:1002742 noise array` get the same unit as `MS:1002744 sampled noise intensity array` ?

@caetera
For our use case, having access to the non centroided noise would only be marginal better. As I have not found a way to access this data yet, I sticked to the `CentroidStream` noise data. `Scan.GenerateNoiseTable()` gave me th

[2022-02-10 13:16] caetera commented on #130
@edeutsch good, thank you. I believe baseline is a kind of zero-level intensity and thus should have the same dimension, but I am not 100% sure as well.

@GeorgWa I have asked Jim Shofstahl - the developer of RawFileReader in Thermo if it is possible to get the noise data for profile and low resolution scans. Let's see what will be his response.

I think then it is easier to have both `MS:1000514`

[2022-02-10 19:34] caetera commented on #130
Here is the reply of Jim:

[2022-02-10 19:52] GeorgWa commented on #130
@caetera
Great, I will keep both `MS:1000514` and `MS:1002743 ` if the `-N` flag is set.
I will test it with our internal data and create a pull request when I'm ready.

Thanks for forwarding the answer from Jim! Id would be great if you can update me if you hear anything else about noise for profile data.

[2022-02-11 07:56] #128 closed

[2022-02-15 13:24] rolivella opened #131 "Parsing mzML with xmllint"
Hi,

I'm trying to parse data from the mzML files using the `xmllint` tool. It works fine when the mzML is not indexed but for the indexed ones it fails. For instance, if I want to extract the TIC of each scan:

`xmllint --xpath '/mzML/run/spectrumList/spectrum/cvParam[contains(@accession,"MS:1000285")]/@value' 190215_Q_QC01_01_32.indexed.mzML`

I get:

`XPath set is empty`

While the same file no

[2022-02-16 10:56] rolivella commented on #131
Hi @caetera

I found the issue. At the end what does not like to `xmllint` is this:

`<indexedmzML xmlns="http://psi.hupo.org/ms/mzml"`

I think that as "http://psi.hupo.org/ms/mzml" does not exist, the parser stops to work properly.

Do you know when this URL is inserted into the output mzML? If it's the TRFP that do it, I don't see the point because is not working...

Thanks!

[2022-02-16 11:59] caetera commented on #131
@rolivella this namespace is a part of mzML specification; pretty much all parsers use it.
I have found however, that indexed mzML produced by TRFP still reference non-indexed xml schema location, maybe this is the reason for the error.
I will issue the fix anyway, but if you want to quickly check it, just replace  the first element with
`<indexedmzML xmlns:xsi="http://www.w3.org/2001/XMLSchema-in

[2022-02-16 12:08] rolivella commented on #131
@caetera great, thanks!

[2022-02-16 12:48] caetera commented on #131
Do you mean that it works after the manual change?

[2022-02-16 13:26] rolivella commented on #131
Yes, it works after manually removing `xmlns="http://psi.hupo.org/ms/mzml` from mzML file.

[2022-02-16 13:55] caetera commented on #131
I think I figured it out. The problem is namespace used in mzML, and that is something that cannot be changed in the output.

According to https://stackoverflow.com/questions/43694722/extract-value-from-xml-file-with-namespaces-by-using-xmllint-in-bash you can use `*[local-name()='']` to work around it.
Using the following command I could parse out all TIC values.
`xmllint --xpath '//*[local-name(

[2022-02-16 13:59] rolivella commented on #131
Great, many thanks, it works fine!

[2022-02-18 19:12] #131 closed

[2022-02-21 14:57] rolivella opened #132 "CPUs Parlallelization available?"
Hi all, is there a way to use more CPUs while running the TRFP? Or are you planning to add this option?

Thanks!

[2022-02-21 16:28] caetera commented on #132
Hi @rolivella,
that is an long lasting issue, see #23 and #95
In short, the bottleneck is writing the mzML file (and index); this process essentially *has* to be single-threaded. Multithreaded processing of a single file is not on the list for any near future. It is possible, however, to run several instances of TRFP working on different files (for example, to process a folder faster). I have old

[2022-02-21 16:47] rolivella commented on #132
Ah yes, it makes sense. Thanks for the python script but I'm developping a single-file pipeline so I don't need it yet. I'm trying to optimize every single step but I see that, at least, regarding the TRFP I can't do nothing (or little) more.

[2022-02-23 13:16] caetera commented on #125
I have a build that includes precursor intensity; in my tests the output is quite similar to msconvert (i.e. average error of ~0.1% and max error of ~2% in the worst test). I hope it can be accounted for some sort of "rounding" error, and since it is kind of rough estimation anyway it might not be critical. If somebody wants to give it a try, I have shared the build https://syddanskuni-my.sharepoi

[2022-02-23 17:35] chambm commented on #125
ProteoWizard's Thermo reader sums the intensity in the MSn's isolation window to get the precursor intensity, so yes using some width around the isolation window center would be equivalent.

[2022-03-07 14:01] AnStaes opened #133 "Is it possible to extract pressure profiles as csv file in batch?"
Hi,

With the --allDetectors options I can get the pressure profile of a raw file into the mzML file, but what I need is actually a csv file with the pressure values per RT. Is it possible to extract this in batch?

Thank you!

[2022-03-07 20:06] caetera commented on #133
Hi @AnStaes,
thank you for using ThermoRawFileParser. At the moment you can only process raw files into mzML in batch and extract pressure profile from them. A pressure trace is represented as a chromatogram, it is two arrays of 64bit-floats (zipped by default, but you can use `-z` to disable compression) in base64 encoding. The feature to extract this data to some plain text format can be added l

[2022-03-08 19:41] caetera commented on #133
Hi again,
you are welcome to use the python script (see the gist link below) that does the extraction of the pressure chromatograms from mzML file; it can be invoked with a list of mzML files
Apart from standard libraries it depends on `pandas` (CSV output) and `numpy` (convert binary buffer to numeric array), and `lxml` (obviouisly). It is a bit sketchy, feel free to adapt for your needs if neces

[2022-03-17 02:25] ZewSam opened #134 "Is possible to extract PDA and MS data from mzml files to csv?"
Hi, I have a hard time to extract the PDA and MS peak list from mzML file for analysis.  Is there any way to extract PDA and MS data from mzML to csv?

[2022-03-17 15:51] rmflight opened #135 "average and centroid"
Is there any kind of way to use ThermoRawFileParser for a profile acquired sample to:

1. Merge a subset of scans
2. Centroid the merged scans

Or is it only possible to centroid the individual scans?

[2022-03-17 18:14] caetera commented on #135
Hi @rmflight,

this kind of processing is not yet implemented in TRFP. Some sort of averaging is available from the RAW-reading library. I have never touched it though, and, thus, don't know how good/bad it works. I can give it a try. I wonder, however, what would be the best (most convinent) way to implement it from a user point of view. Do you thing extending `query` option will be the way to go

[2022-03-17 18:26] rmflight commented on #135
I think within `query` would be the most appropriate yes, given that the options there already seem appropriate for working with subsets of scans.

Either there, or as another sub-command specifically. But then most of the options would probably look just like `query`.

[2022-03-17 18:52] ZewSam commented on #134
Thanks for your response.  I am able to convert my RAW file to mzml file.  I would like to export PDA data and MS data for multivariate analysis in other software, like SPSS, MATLAB.  Because these software cannot read mzml file directly, I am just wondering if there is a way to extract the PDA data and the peak list of MS data along retention time into other formats (such excel, csv, etc.) from m

[2022-03-29 04:13] ZewSam commented on #134
Hi @caetera , thank you so much for the inspiration.  This sample script is very helpful.

[2022-03-29 18:22] caetera commented on #130
Hi @GeorgWa,
just wonder if you are ready with PR?

[2022-04-19 13:06] GeorgWa commented on #130
Hi @caetera,
please excuse my late reply.
I have updated the README.md to the new help output and created a pull request. #137

[2022-04-20 17:50] caetera commented on #130
Hi @GeorgWa
thank you, I will check and merge it soon.

[2022-04-21 18:05] caetera commented on #130
Merged after fixing `sampled noise m/z array` f969329c4385073830ee5b412d211b4100f6bd84 and thus closing the issue

[2022-04-21 18:05] #130 closed

[2022-05-12 14:47] starling13 opened #138 "Build on Debian 11 fails"
When building on debian 11 (mono 6.8.0) from sources build fails with message:
[code]
After upgrading to mono 6.12.0 more errors:
[code]

[2022-05-12 16:46] caetera commented on #126
It has been a long time indeed.

I have implemented general parsing for MSn scan, i.e. now it should support all possible MS levels. The branch with the feature is 7b7854d8c8512e5f5385cfa1a240ff7e96a38821 and it will be included in the next release.

@tomas-pluskal would you like to test it and provide some feedback? and if so let me know if you build from the source or I should build a beta versi

[2022-05-12 17:16] caetera commented on #138
Hi @starling13,
thank you for your interest in ThermoRawFileParser.
To the best of my knowledge `xbuild` tool in Mono is deprecated; it is recommended to use `msbuild` instead.
We use `msbuild` to build TRFP for docker container; our image is based on mono-6.12 and, thus, on Debian Buster.
I do not have fast access to Debian 11, could you, please, try building with `msbuild`?

[2022-05-12 17:41] caetera commented on #134
I will close the issue now

[2022-05-12 17:41] #134 closed

[2022-05-12 17:44] caetera commented on #124
I will close the issue for now

[2022-05-12 17:44] #124 closed

[2022-05-13 07:56] starling13 commented on #138
Thanks, msbuild allows to build from sources.

[2022-05-13 07:56] #138 closed

[2022-05-16 16:39] caetera commented on #118
Closed in 410ff006b2592f95c7227af2418e281b3a79a35a.
STDOUT (`-s`) always forces **plain mzML** instead of **indexed mzML**

[2022-05-16 16:39] #118 closed

[2022-05-18 09:35] tomas-pluskal commented on #126
Hi @caetera
It would be great if you could provide a beta build for us. One of my postdocs is now building a library of MSn (MS3 and MS4) spectra, so I can ask her to test your build.

[2022-05-18 09:53] caetera commented on #126
Hi @tomas-pluskal,

Here is the latest beta build: https://syddanskuni-my.sharepoint.com/:u:/g/personal/vgor_bmb_sdu_dk/EeJ50TcZl35OpplVv2ZT7hEBL4gudhEsGoFz1UHgOJXzLw?e=cyvvaS
Please, not, that it also includes some other changes, most important one is adding precursor intensity, that was not supported earlier (#125).

[2022-05-23 21:30] MatthewThe opened #139 "Wrong assignment of MS3 to MS2"
Again thanks for this wonderful package!

We noticed some MS3 scans being attributed to the wrong MS2 scan.

It seems to be a result of an unfortunate partial string match here:

https://github.com/compomics/ThermoRawFileParser/blob/6e133e47a814d43b5a7c988c71c93d530ff54936/Writer/MzMlSpectrumWriter.cs#L30

https://github.com/compomics/ThermoRawFileParser/blob/6e133e47a814d43b5a7c988c71c93d530ff549

[2022-05-23 22:33] caetera commented on #139
Hi @MatthewThe,
thank you for reporting this issue. The way spectra are assigned to parents has been changed completely in a recent beta (see #126 ). Could you check if the error still exist in the version I have shared there? You can also share the problematic raw file with me if it is more convenient.

[2022-05-25 11:34] corinnabrungs commented on #126
Hi @caetera,

I tried the converter with our Orbitrap-IDX data (up to MS5) and it worked well. Attached you can find an MS4 scan and all precursors are marked with a dashed line. Thanks for fixing the issue.

![image](https://user-images.githubusercontent.com/53823597/170252081-d9addd9b-c727-472c-ab69-c1d327f2f7eb.png)

[2022-05-25 16:29] caetera commented on #126
Hi @corinnabrungs,
good to know it works. I will close the issue in a couple of days, but feel free to reopen it, if necessary.

[2022-06-10 18:40] caetera commented on #126
New release has been published.

[2022-06-10 18:40] #126 closed

[2022-06-10 18:41] caetera commented on #125
Has been included in release 1.4.0

[2022-06-10 18:41] #125 closed

[2022-06-10 18:42] caetera commented on #78
closed with #125

[2022-06-10 18:42] #78 closed

[2022-06-10 19:08] tomas-pluskal commented on #126
Thanks a lot! :)

[2022-06-13 05:53] hechth commented on #112
@caetera I'll propagate it upstream and see what needs to be done on mzR.

Regarding the Galaxy issues, they were related to the mzR wrapper in some of the tools, so not exclusively related to Galaxy itself.

[2022-06-13 09:11] caetera commented on #112
@hechth Great, thank you

[2022-06-30 17:19] wholtz opened #140 "Exit code of 0 on conversion failure"
I would expect a conversion failure to result in a non-zero exit code, but I am seeing 0 in my test cases:

[code]

[2022-07-01 14:51] MatthewThe commented on #139
Yes, that seems to have fixed it. Thanks a lot!

[2022-07-01 14:51] #139 closed

[2022-07-06 06:42] dtabb73 opened #141 "Need to read deconvoluted RAW built by FreeStyle"
Hello, I am deconvoluting inclusion-list and targeted RAW files for top-down proteomics.  FreeStyle 1.8's "Xtract All" feature creates a new, deconvolved RAW from a larger input RAW.  Unfortunately I cannot seem to read the deconvoluted RAW in any of the tools I might use to make an MGF (and then an msAlign for TopPIC).  ProteoWizard and OpenMS both die trying to read FreeStyle's deconvolved RAW.

[2022-07-11 18:07] keesh-elucid opened #142 "Conversion to support complex filter expressions?"
Hello,
We are evaluating using ThermoRawFileParser to replace an olde XRawfile2_x64.dll based C++ program.
I was wondering if you had any plans to support msconvert filter expressions like the following during RAW to mzML, MGF conversions?
--filter "chargeStatePredictor maxMultipleCharge=4 minMultipleCharge=2 singleChargeFractionTIC=0.9"
--filter "threshold absolute 0.00000000001 most-intense"
...

[2022-07-11 19:17] caetera commented on #140
@wholtz thank you for reporting. I will make sure exit codes will be as expected.

[2022-07-11 19:21] caetera commented on #141
Hi @dtabb73 ,
Thank you for reporting. From the stack trace it seems that one of the scans is missing the header information. I am not sure if it happens often with deconvoluted files. Is it possible to share the problematic file, so I can look at it?

[2022-07-13 13:28] caetera commented on #141
Hi @dtabb73,
I can confirm that the problem is missing header information (so-called _trailer_). That seems to be a peculiarity of "Xtracted" files. The second file you shared have it missing for all scans except the first one.
I have implemented a patch to show a warning to the user instead of crashing. The file is processed successfully, however we rely on the trailer for some of the processing,

[2022-07-13 21:07] wholtz opened #143 "Error opening (ThermoFisher.CommonCore.RawFileReader.Facade.RawFileLoader)"
I have several files that fail to convert:
[code]

Any recommendations on how I can get more information about what the underlying problem is?

I tried changing the log level by replacing `INFO` with `ALL` in `/usr/local/bin/log4net.config`, but it did not increase the verbosity.

[2022-07-14 11:47] caetera commented on #143
Hi @wholtz,
to increase the verbosity provide additional argument `-l 1` (logging), it won't however help you much in that case, since the error you face seem to come from the libraries provided by Thermo (they do not give much debug information to the outside world). It indicates that the the RAW file is in the error state. Maybe the file itself is corrupted? Can you open/work with it using some

[2022-07-15 06:38] dtabb73 commented on #141
I think flagging missing trailers with a warning is an appropriate response.  I appreciate your looking into these files.  Previously, I was only able to convert their contents to a text format by the Xcalibur File Converter, and the output text was a pretty verbose format.  I wrote a little C# code to go from there to msAlign (a format very similar to MGF): https://github.com/dtabb73/XCalibur-Tex

[2022-07-15 10:30] caetera commented on #141
The new version can generate proper MGF files, the precursor charge state is, however, missing. It seems that trailer is the only source of precursor charge information. In some cases it should be possible to detect the charge state from the previous MS1 scan (this is, however, not implemented). MS1 scans in the file you shared look deisotoped and Xcalibur seem to discard the initial charge inform

[2022-07-15 12:39] dtabb73 commented on #141
Thank you for this rapid work!  I am using the command line with these options:  "-f 0 -P -L 1-"

I have a couple points of feedback:

1. Even though I specify the inclusion of MS scans ("-L 1-"), the MGF excludes them without producing a warning or error.
2. The warning resulting from the missing trailer could cause a user to believe that the MS/MS scan is excluded from the output, but the MS/MS

[2022-07-15 12:41] dtabb73 commented on #141
Oh, I had one other question; do the RAW files make any indication of which MS/MS scans are combined to produce the "Average Spectra" seen in the MSn Browser of FreeStyle?  These groupings are not apparent in the text conversion I produce in Xcalibur File Converter.

[2022-07-15 15:19] dtabb73 commented on #141
I am sad to report that the FreeStyle Xtract-produced RAWs do not preserve scan numbers.  I speculate that the new RAW files skip over MS or MS/MS scans that do not contain any deconvolved masses.

Since my goal is to produce a TopPIC-ready msAlign file, I think I will need to start from your tool's mzML output; that way I have both MS and MS/MS scans.  I can ask which deconvolved masses from the

[2022-07-15 17:47] keesh0 commented on #142
Thanks, your work-around seemed fine.
I am still a newbie w.r.t the ThermoFisher.CommonCore assemblies.
Regarding filtering, I think I saw some support in ThermoFisher.CommonCore.Data.Business?
Do you happen to have a good link to the ThermoFisher.CommonCore API?

[2022-07-19 09:02] caetera commented on #142
To the best of my knowledge, some filtering is supported out of the box, for example, slicing by scan or time (`--filter "scanNumber xx-xx"`, `--filter "scanTime xx-xx"` in msconvert notation), filtering by filter string, similar to what can be done through filters in FreeStyle or QualBrowser (for example, filter `d cv=-40` will deliver only dependent scans with FAIMS CV -40V; you can check help p

[2022-07-22 16:12] caetera commented on #141
From what I can see the spectra in MSn Browser are not stored in RAW file, but generated on the fly based on value of the precursor mass, i.e. all scans are grouped by precursor mass using a user-defined mass tolerance (for example, 0.5 amu) and then averaged. The averaging of scans is implemented by the RAW file parsing libraries (not included in TRFP, though), but I could not find anything that

[2022-09-19 18:09] #143 closed

[2022-09-22 16:44] wsnoble opened #144 "Silently failing on some raw files"
In using ThermoRFP to process raw files from a number of PRIDE projects, I find that the software reproducibly and silently fails on a small subset of files.  The behavior is to run for ~1 s and then produce a zero-length output file.  No error status is indicated by the program.  I have verified that the download is working properly.

Here are some example raw files that fail to convert from the

[2022-09-23 15:03] caetera commented on #144
Hi @wsnoble ,
thank you for reporting this issue.
Regarding the second point, I have downloaded a couple of file from your list and they indeed report having 0 spectra (most likely, the files are corrupted), thus, I am afraid, these cannot be converted through TRFP. I have to admit, though, that it is a bug, since we assume that there is at least one spectrum in the file (and trying to read from s

[2022-10-05 16:46] caetera commented on #144
Hi @wsnoble ,
the reason for the silent failure is that all output is suppressed by using `--logging=0` in the first case (with absolute path), while the return codes are, indeed, not always correct (see #140).

[2022-10-05 16:49] wsnoble commented on #144
Regarding the silent failure, I had `--logging=0` on in both cases, and it failed silently only when I use absolute pathnames.  It seems like if you want to not report an error message on failure (which, personally, I think is not a good idea in any case), this behavior should not depend on whether the file name absolute or relative.

[2022-10-05 17:57] caetera commented on #144
Could you, please, check that the issue is indeed connected to relative/absolute path. In the examples you have provided (the opening post) logging is only suppressed when the absolute path is used, in the relative path example logging argument is not provided, thus, the default value (2) is used. I could reproduce the silent failure only with `logging=0`, both for absolute and relative path cases

[2022-10-05 18:33] wsnoble commented on #144
Darn it, you're right. Sorry for the dumb mistake on my end. I'm not sure why I included logging=0 in only one case, but in retrospect that obviously explains the difference in behavior.

The current behavior is OK, I guess. At some point you might want to have different levels of logging so the user could get more or less verbose output, as needed.